[2021-09-29 17:28] ksalokya opened #1 "Want to contribute Hackerrank Questions"
Hey there, I just participated in Hackerrank Basic/Intermediate certification and passed successfully. Can I add those questions?

[2021-09-29 17:38] kanak22 commented on #1
yes you can add but you have to make a folder named HackerRank and inside it make another folder named Certification Questions..then make another folder inside the certification one by the name of the Certicfication.. This is to ensure the directory structure.

After this you have to make a separate file for each question with the question name and you can add them 🤗.

let me know if you want to c

[2021-09-29 18:03] kanak22 commented on #1
I am making a contributing.md i will push that most probably by morning ..have a look at that and then all of you can contribute ;)

[2021-09-29 18:06] ksalokya commented on #1
yeah sure! will also add some of my leetcode questions.

[2021-09-29 18:24] Himanshu-Agg12 opened #2 "Valid Sudoku-Leetcode"
I want to contribute the leetcode medium level problem solving Question.

[2021-09-29 18:25] Himanshu-Agg12 opened #3 "Hacker Rank C Intermediate Level Question"
C intermediate certification Question and also Intermediate Practice Question

[2021-09-29 18:29] Himanshu-Agg12 opened #4 "Sortings Repositry missing"
I want to contribute to the sorting algorithms codes.

[2021-09-29 18:34] samarthraj11 opened #5 "Waste Sorting - Codeforces"
Link of the question - https://codeforces.com/problemset/problem/1468/N
Coding Platform - Codeforces
Programming Language - C++

[2021-09-29 18:35] samarthraj11 commented on #5
i want to work on this .

[2021-09-29 18:37] Himanshu-Agg12 commented on #1
I want to add Some Hacker rank Java problems and solutions.

[2021-09-29 20:24] kanak22 commented on #1
Hey Folks, Read the contributing.md and then open issues for specific questions ;).. get them assigned and start working 🎉

[2021-09-29 20:25] kanak22 commented on #2
Rename the issue according to contributing.md ;)

[2021-09-29 20:26] kanak22 commented on #3
Rename the issue according to contributing.md ;)

[2021-09-29 20:26] kanak22 commented on #4
Rename the issue according to contributing.md ;)

[2021-09-29 20:26] kanak22 commented on #5
Rename the issue and provide a description according to contributing.md ;)

[2021-09-29 21:15] kanak22 opened #6 "Longest Harmonious Subsequence - Leetcode"
## Link of the question
https://leetcode.com/problems/longest-harmonious-subsequence/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-09-30 02:07] JyotimoyKashyap commented on #6
Hello, I am a participant of Hacktoberfest 2021, Please assign me the task of writing down the code for the Java programming language.

[2021-09-30 03:49] Devenkapoor7303 commented on #6
Hey can I work on this issue in c++ language can u please assign this to me for c++ Language

[2021-09-30 06:18] dakshsethi opened #7 "Creating a new directory - 450DSA Cracker Sheet"
This is not a code related issue, but to create a new directory named `450 DSA Cracker Sheet`
The folder structure is as follows:
[code]
@kanak22 please assign me this as I want to work on this directory creation.

[2021-09-30 06:23] kanak22 commented on #7
Go ahead :)

[2021-09-30 06:41] Himanshu-Agg12 commented on #2
### Link of the Question
<hr/>
https://leetcode.com/problems/valid-sudoku/

- [ ] Leetcode

This is a code related issue, I want to solve the [Valid Sudoku](https://leetcode.com/problems/valid-sudoku/) problem present on Leetcode Platform.

I will do this code in c++

[2021-09-30 06:55] silicolicious opened #9 "Matrix Diagonal Sum - LeetCode"
## Link of the question
https://leetcode.com/problems/matrix-diagonal-sum/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-09-30 06:57] silicolicious commented on #9
Hi!
I am a participant of Hacktoberfest and I would like to contribute to the above-mentioned question from LeetCode in the language C++
Assign me this issue.
Thank you!

[2021-09-30 07:02] Himanshu-Agg12 commented on #2
I have updated the issue, can you please assign the task now Sent from Mail for Windows From: KanakSent: Thursday, September 30, 2021 1:55 AMTo: kanak22/CP-DSA-QuestionsCc: Himanshu Aggarwal; AuthorSubject: Re: [kanak22/CP-DSA-Questions] Leetcode Medium Level Questions (#2) Rename the issue according to contributing.md ;)—You are receiving this because you authored the thread.Reply to this email d

[2021-09-30 07:03] #4 closed

[2021-09-30 07:04] #3 closed

[2021-09-30 07:06] kanak22 commented on #9
sure :)

[2021-09-30 07:07] kanak22 commented on #2
Go ahead ;)

[2021-09-30 07:08] kanak22 commented on #6
Go Ahead ;)

[2021-09-30 07:09] kanak22 commented on #5
Go Ahead ;)

[2021-09-30 07:11] anushkadubey opened #10 "Create a separate LeetCode questions directory"
We need a separate directory for every platform. That way it'll be easy to manage the questions.

[2021-09-30 07:16] #7 closed

[2021-09-30 07:18] kanak22 commented on #10
Create the folders and also create a .md file by the name of the platform inside each folder. ;)

[2021-09-30 07:23] silicolicious commented on #9
When will the hacktoberfest label be added to the issue?

[2021-09-30 07:24] kanak22 commented on #9
by tomorrow

[2021-09-30 07:26] anushkadubey commented on #10
Yeah sure!

[2021-09-30 08:22] Pranavanbu28 opened #11 "Build Array from permutation - LeetCode"
## Link of the question
https://leetcode.com/problems/build-array-from-permutation/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-09-30 08:23] Pranavanbu28 commented on #11
Hi, I'm a participant of hactoberfest and I would like to work on this question from leetcode. Can you please assign this to me?

[2021-09-30 09:29] kanak22 commented on #11
Go Ahead ;)

[2021-09-30 10:04] samarthraj11 opened #13 "Insomnia cure - Codeforces"
https://codeforces.com/problemset/problem/148/A

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-09-30 10:04] samarthraj11 commented on #13
I want to work on this.

[2021-09-30 11:04] AryaChakraborty opened #14 "Find Kth Bit in Nth Binary String-Leetcode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-09-30 11:05] AryaChakraborty commented on #14
I would like to work on this in cpp

[2021-09-30 11:20] kanak22 commented on #13
Go ahead

[2021-09-30 11:20] kanak22 commented on #14
Sure :)

[2021-09-30 11:33] rasikaghadge opened #15 "Cats and a Mouse - Hackerrank"
## Link of the question
https://www.hackerrank.com/challenges/cats-and-a-mouse/problem

I"d like to provide the solution in C++.

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other

[2021-09-30 11:44] Tishasoumya-02 opened #16 "Ugly Number-LeetCode"
## Link of the question
Link to the question-https://leetcode.com/problems/ugly-number/ .
Can I work on this question?

 I would like to provide in cpp

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (O

[2021-09-30 12:05] Himanshu-Agg12 opened #17 "Largest Rectangle in Histogram-LeetCode"
I want to do this task myself.

## Link of the question
[https://leetcode.com/problems/largest-rectangle-in-histogram/](
https://leetcode.com/problems/largest-rectangle-in-histogram/)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x]

[2021-09-30 13:34] #10 closed

[2021-09-30 14:08] Mia-Sharma opened #18 "Maximum Repeating Substring - LeetCode"
## Link of the question
https://leetcode.com/problems/maximum-repeating-substring/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [X] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-09-30 14:09] Mia-Sharma commented on #18
Hello !!
I am a participant of Hacktoberfest and I would like to contribute to this question from LeetCode in the language C++. Kindly assign me this issue.
Thank you!

[2021-09-30 14:17] Harsika-dev opened #19 "Trapping Rain Water - LeetCode"
## Link of the question
https://leetcode.com/problems/trapping-rain-water/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [X] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-09-30 14:17] Harsika-dev commented on #19
Hello !!
I am a participant of Hacktoberfest 2021 and I would like to contribute to this question from LeetCode in the language C++. Kindly assign me this issue.
Thank you!

[2021-09-30 14:36] vishalsinghhh opened #20 "Longest Common Prefix - LeetCode"
## Link of the question
https://leetcode.com/problems/longest-common-prefix/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request her

[2021-09-30 14:36] vishalsinghhh commented on #20
Hello! I am Vishal
I am a participant of Hacktoberfest and I would like to contribute to this question from LeetCode in the language C++. Kindly assign me this issue.
Thank you!

[2021-09-30 15:31] 2000shivam659 commented on #19
Hey, kindly assign me this issue under Hacktoberfest'21.
**Language**

- [ ] Java

[2021-09-30 15:33] 2000shivam659 commented on #16
Please assign me this issue under Hacktoberfest'21.
**Programing Language**

- [ ] Java

[2021-09-30 15:43] KruzeZab opened #21 "Container With Most Water - LeetCode"
## Link of the question
https://leetcode.com/problems/container-with-most-water/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-09-30 15:44] KruzeZab commented on #21
Hi @kanak22. I would like to work on this problem from Leetcode in Python. Kindly assign me this issue.
Thank you!

[2021-09-30 15:44] 19-ade commented on #17
Hello . Can you assign me this ? I have computed the code in python.

[2021-09-30 15:44] Tishasoumya-02 commented on #16
Can I work on this @kanak22, I issued this earlier to be able to work on this for Hacktoberfest

[2021-09-30 15:46] Tishasoumya-02 opened #22 "Counting Bits-LeetCode"
## Link of the question
https://leetcode.com/problems/counting-bits/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-09-30 15:47] Tishasoumya-02 commented on #22
Can I work on this question in CPP. It would be great if you assign me this :)

[2021-09-30 16:41] dro-1 opened #23 "Container With Most Water - Leetcode"
## Link of the question
https://leetcode.com/problems/container-with-most-water/
Please assign this issue to me.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or scree

[2021-09-30 17:10] kanak22 commented on #15
Go Ahead ;)

[2021-09-30 17:10] kanak22 commented on #16
Go Ahead ;)

[2021-09-30 17:11] kanak22 commented on #17
Go Ahead ;)

[2021-09-30 17:12] kanak22 commented on #18
Go Ahead ;)

[2021-09-30 17:27] kanak22 commented on #19
Go Ahead ;)

[2021-09-30 17:31] kanak22 commented on #21
Go Ahead ;)

[2021-09-30 17:31] vipul-2003 opened #25 "GUESS NUMBER HIGHER OR LOWER Leet code"
## Link of the question

[GUESS NUMBER HIGHER OR LOWER](https://leetcode.com/problems/guess-number-higher-or-lower/description/)

Provide the link of the question and ask for assignment of the issue.

Hi, I am participating at hacktober fest 2021 , and wanted to contribute to this issue ....

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [

[2021-09-30 17:32] vipul-2003 commented on #25
Please assign to me

[2021-09-30 17:35] kanak22 commented on #25
Only I am handling the repo 😊.. will assign you shortly .. :)

[2021-09-30 17:43] vipul-2003 opened #26 "Set matrix zeroes leet code"
## Link of the question

[Leetcode](https://leetcode.com/problems/set-matrix-zeroes/description/) 🔥 😎

Provide the link of the question and ask for assignment of the issue.

Hi , i am participating in hacktober fest 2021 , i wanted to provide solution to this please assign me

 @dakshsethi @kanak22 @anushkadubey

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforce

[2021-09-30 17:46] vipul-2003 opened #27 "Spiral matrix leetcode"
## Link of the question

[Spiral Matrix](https://leetcode.com/problems/spiral-matrix/description/)  🔥 💯

Provide the link of the question and ask for assignment of the issue.

Hi , i am participating in hacktober fest 2021 , i wanted to provide solution to this please assign me

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit

[2021-09-30 17:50] jishanaik opened #28 "Interesting Representation-Codechef"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.codechef.com/LTIME100C/problems/INTREP

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL

[2021-09-30 17:50] vipul-2003 opened #29 "Determine Whether Matrix Can Be Obtained By Rotation Leetcode"
## Link of the question

[Determine Whether Matrix Can Be Obtained By Rotation](https://leetcode.com/problems/determine-whether-matrix-can-be-obtained-by-rotation/description/)  😎 💯

Provide the link of the question and ask for assignment of the issue.

Hi , i am participating in hacktober fest 2021 , i wanted to provide solution to this please assign me  :))

## Coding platform

- [ ] Hackerrank

[2021-09-30 17:51] vipul-2003 commented on #29
Assign me @dakshsethi @kanak22 @anushkadubey

[2021-09-30 17:57] jishanaik commented on #28
Please assign me this question @kanak22 @dakshsethi @anushkadubey

[2021-09-30 17:59] kanak22 commented on #28
DO NOT PING AND DISTURB DAKSH AND ANUSHKA... They are also contributors not maintainers :) kindly edit your comment

[2021-09-30 18:08] KushalMehta39 opened #31 "Codechef July Challenge 2021"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.codechef.com/problems/LADCOMP

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any

[2021-09-30 18:09] KushalMehta39 commented on #31
Hey I am Kushal participating in Hactoberfest 2021
Please Assign me this issue. @kanak22 @dakshsethi @anushkadubey

[2021-09-30 18:09] #29 closed

[2021-09-30 18:10] #27 closed

[2021-09-30 18:10] #25 closed

[2021-09-30 18:10] #26 closed

[2021-09-30 18:12] kanak22 commented on #31
DO NOT PING AND DISTURB DAKSH AND ANUSHKA... They are also contributors not maintainers :) kindly edit your comment

[2021-09-30 18:12] kanak22 commented on #23
Go Ahead ;)

[2021-09-30 18:31] AryaChakraborty opened #32 "K-diff Pairs in an Array"
## Link of the question
https://leetcode.com/problems/k-diff-pairs-in-an-array/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-09-30 18:32] AryaChakraborty commented on #32
I would like to work on this in cpp.

[2021-09-30 18:32] gunjan-g opened #33 "The Hurdle Race- HackerRank"
## Link of the question
Link: https://www.hackerrank.com/challenges/the-hurdle-race/problem
I'm a participant in Hacktoberfest'21
Please assign this issue to me in C++

## Coding platform

- [X] Hackerrank

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I will add comments with my code for better understanding

[2021-09-30 18:34] gunjan-g opened #34 "Designer PDF Viewer- HackerRank"
## Link of the question
Link: https://www.hackerrank.com/challenges/designer-pdf-viewer/problem
I'm a participant in Hacktoberfest'21
Please assign this issue to me in C++

## Coding platform

- [x] Hackerrank

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add comments in my code for better understanding

[2021-09-30 18:35] AryaChakraborty opened #35 "Find the Duplicate Number"
## Link of the question
https://leetcode.com/problems/find-the-duplicate-number/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-09-30 18:35] AryaChakraborty commented on #35
I would like to work on this in cpp.

[2021-09-30 18:37] AryaChakraborty opened #36 "Sort Colors"
## Link of the question
https://leetcode.com/problems/sort-colors/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-09-30 18:37] muditg02 opened #37 "Beautiful Days at the Movies- HackerRank"
## Link of the question
I want to work on this issue in CPP with Hacktoberfest label
https://www.hackerrank.com/challenges/beautiful-days-at-the-movies/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional co

[2021-09-30 18:37] Sri-vishnu-r1431 opened #38 "Finding the maximum and minimum element in an array -450 Ds algo"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Addition

[2021-09-30 18:38] AryaChakraborty commented on #36
I would like to work on this in cpp.

[2021-09-30 18:39] #36 closed

[2021-09-30 18:39] muditg02 opened #40 "Diagonol Difference- HackerRank"
## Link of the question
I would like to work on this issue in CPP with Hacktoberfest label
https://www.hackerrank.com/challenges/diagonal-difference/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional conte

[2021-09-30 18:40] Sri-vishnu-r1431 opened #41 "Inherited Code -Hackerrrank"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.hackerrank.com/challenges/inherited-code/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context

[2021-09-30 18:42] Sri-vishnu-r1431 opened #42 "Working on extra long factorials-Hackerank"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.hackerrank.com/challenges/extra-long-factorials/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

## Additional

[2021-09-30 18:44] Sri-vishnu-r1431 opened #43 "Reversing the array -450 algo"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.geeksforgeeks.org/write-a-program-to-reverse-an-array-or-string/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Ad

[2021-09-30 18:47] Sri-vishnu-r1431 opened #44 "Find K Closest Elements -leetcode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

https://leetcode.com/problems/find-k-closest-elements/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPT

[2021-09-30 18:50] gunjan-g commented on #34
Please assign me this issue in CPP

[2021-09-30 18:50] gunjan-g commented on #33
Please assign me this issue in CPP

[2021-09-30 18:51] muditg02 commented on #40
I would like to work on this issue in CPP

[2021-09-30 18:51] rachana-singh27 opened #46 "House Robber - Leetcode"
## Question Link
https://leetcode.com/problems/house-robber/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

## Additional Comments
This is Leetcode medium level problem. Please assign me this issue for hacktoberfest 2021. I

[2021-09-30 18:51] muditg02 commented on #37
I would like to work on this issue in CPP

[2021-09-30 19:04] jishanaik commented on #28
So sorry, wasn't aware of that. Will take care next time :)

On Thu, 30 Sep, 2021, 11:29 pm Kanak, ***@***.***> wrote:

[2021-09-30 19:05] KushalMehta39 commented on #31
Sorry I was not aware of.

[2021-09-30 19:16] Nirbhay1910 opened #49 "Sherlock and Permutations - Hackerrank, Difficulty: Hard"
## Link of the question
https://www.hackerrank.com/challenges/sherlock-and-permutations/problem?h_r=profile

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshot

[2021-09-30 19:17] Nirbhay1910 commented on #49
Pls assign this issue to me for hactoberfest

[2021-09-30 19:20] Nirbhay1910 opened #50 "Tree: Huffman Decoding - Hackerrank, Difficulty: medium"
## Link of the question
https://www.hackerrank.com/challenges/tree-huffman-decoding/problem?h_r=profile

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Pls assign this issue to me for hacktob

[2021-09-30 19:22] debjitpal5040 commented on #46
I would like to solve this in Python. Please assign me this issue

[2021-09-30 19:23] debjitpal5040 commented on #42
I would like to solve this problem in python. Please assign me

[2021-09-30 19:23] samridhikapoor opened #51 "Longest Substring Without Repeating Characters-Leetcode"
## Link of the question
https://leetcode.com/problems/longest-substring-without-repeating-characters/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots abou

[2021-09-30 19:25] Nirbhay1910 opened #52 "450 DSA DP question knapsack"
## Link of the question
https://practice.geeksforgeeks.org/problems/0-1-knapsack-problem0945/1

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Pls assign this issue to me for hactoberfest

[2021-09-30 19:25] samridhikapoor commented on #51
I want to work on this issue in C++ language. Please assign this to me.
Thanks

[2021-09-30 19:30] debjitpal5040 opened #53 "Closest number problem Hackerrank"
## Link of the question
https://www.hackerrank.com/challenges/closest-number/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature req

[2021-09-30 19:31] debjitpal5040 commented on #53
I would like to solve this issue in python as Hacktoberfest participant. Please assign me this.

[2021-09-30 19:37] Nirbhay1910 opened #55 "459 DSA- Searching and sorting - Count triplets with sum smaller than X"
## Link of the question
https://practice.geeksforgeeks.org/problems/count-triplets-with-sum-smaller-than-x5549/1

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Pls assign this issue to me fo

[2021-09-30 19:41] pro-me-theus opened #56 "Stone Game"
Link of the question :  [](https://codeforces.com/problemset/problem/1538/A)

Coding platform
- [x] Codeforces

I wish to solve this problem in c++.

[2021-09-30 19:47] shubhamnag14 commented on #2
can i solve this issue

[2021-09-30 19:55] muditg02 commented on #40
@kanak22 This issue was created by me and someone else had made a pr on it

[2021-09-30 19:58] pyprakhar commented on #31
assign me please. i had taken part in hactoberfest2021

[2021-09-30 19:59] kanak22 commented on #40
Don;t worry @muditg02  it will not be merged as its not assigned to him.

[2021-09-30 20:07] manognyaa opened #58 "Graph Coloring - Leet Code"
## Link of the question - https://leetcode.com/problems/ugly-number/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Ugly numbers are numbers whose only prime factors are 2, 3 or 5. The seque

[2021-09-30 20:07] kanak22 commented on #52
@Nirbhay1910 you can start working on it. ;)

[2021-09-30 20:08] Nirbhay1910 commented on #52
Okay! Thanks a lot :)

[2021-09-30 20:14] #1 closed

[2021-09-30 20:16] kanak22 commented on #2
@shubhamnag14 Mention the language

[2021-09-30 20:18] shubhamnag14 commented on #2
I will python for solving this issue

[2021-09-30 20:37] gunjan-g commented on #33
@kanak22 please assign this issue to me so that I can work on it

[2021-09-30 20:37] gunjan-g commented on #34
@kanak22 please assign this issue to me so that I can work on it

[2021-09-30 20:46] kanak22 commented on #23
edit the name of your issue from Container With Most Water - Javascript to Container With Most Water - Leetcode and mention your language in the description box. ;)

[2021-09-30 20:48] kanak22 commented on #28
Edit the name of your issue from September lunchtime to this

question name - platform name

[2021-09-30 20:49] kanak22 commented on #31
@KushalMehta39  Edit the name of your issue from July Challenge to this

question name - platform name

[2021-09-30 20:49] kanak22 commented on #31
in which language?

[2021-09-30 20:51] jishanaik commented on #28
Done, should I continue with the pull request?

[2021-09-30 20:52] kanak22 commented on #35
Mention the name of the platform in issue title

[2021-09-30 20:53] kanak22 commented on #28
yes you can start working on it

[2021-09-30 20:54] kanak22 commented on #38
Mention 450dsda sheet after question name in title

[2021-09-30 20:55] kanak22 commented on #41
Mention the platform name in title of issue

[2021-09-30 20:57] kanak22 commented on #43
Correct algo to DSA in title

[2021-09-30 20:57] dro-1 commented on #23
Language is JavaScript

[2021-09-30 20:57] KushalMehta39 commented on #31
@kanak22 Done

[2021-09-30 20:58] kanak22 commented on #43
Complete the other 3 issues assigned to you first

[2021-09-30 21:00] kanak22 commented on #58
ma'am*

[2021-09-30 21:00] kanak22 commented on #58
Instead of hacktoberfest'21 mention the coding platform in issue title, edit it.

[2021-09-30 21:01] kanak22 commented on #56
Mention the platform in issue title

[2021-09-30 21:06] kanak22 commented on #2
okay

[2021-09-30 21:06] kanak22 commented on #23
okay

[2021-09-30 21:15] arp99 opened #60 "Search in Rotated Sorted Array - Leetcode"
## Link of the question
https://leetcode.com/problems/search-in-rotated-sorted-array/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

Ma'am, Please assign me this issue @kanak22

[2021-09-30 21:16] cp-Coder commented on #43
Pls assign this task to me.

[2021-09-30 21:18] kanak22 commented on #43
In which language?

[2021-09-30 21:20] cp-Coder opened #62 "XOR Equal Codechef problem"
## Link of the question
https://www.codechef.com/SEPT21B/problems/PALINT
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-09-30 21:23] cp-Coder opened #63 "2-D Point Meeting CodeChef problem"
## Link of the question
https://www.codechef.com/SEPT21B/problems/POINTMEE
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-09-30 21:26] gunjan-g opened #64 "Strong Password- HackerRank"
## Link of the question
Link: https://www.hackerrank.com/challenges/strong-password/problem
I'm a participant in Hacktoberfest'21
Please assign this issue to me in C++

## Coding platform

- [x] Hackerrank

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add comments in my code for better understanding

[2021-09-30 21:26] gunjan-g commented on #64
Please assign me this issue in CPP

[2021-09-30 21:28] cp-Coder opened #65 "Interesting Pairs Codechef Problem"
## Link of the question
https://www.codechef.com/START13B/problems/DIVPAIRS
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-09-30 21:29] cp-Coder commented on #62
Please assign me this issue in CPP.

[2021-09-30 21:29] cp-Coder commented on #63
Please assign me this issue in CPP.

[2021-09-30 21:29] cp-Coder commented on #65
Please assign me this issue in CPP.

[2021-09-30 21:31] Leoravoe opened #66 "Container With Most Water - LeetCode Problem"
## Link of the question
https://leetcode.com/problems/container-with-most-water/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-09-30 21:49] cp-Coder commented on #43
C++

[2021-09-30 21:52] cp-Coder opened #69 "Make that Array! Codechef Problem"
## Link of the question
https://www.codechef.com/START13B/problems/SWAPGAME
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-09-30 21:52] cp-Coder commented on #69
Please assign me this issue in CPP.

[2021-09-30 21:55] Leoravoe commented on #66
@kanak22  ma'am please assign this issue to contribute

[2021-09-30 22:19] sgaurav37533 commented on #43
please assign me this issue in java language

[2021-09-30 22:21] sgaurav37533 commented on #55
Please assign this issue to me for hacktoberfest

[2021-09-30 22:36] Cyber-Machine opened #71 "Maximum Cost Deletion-Codeforces"
## Link of the question
https://codeforces.com/contest/1550/problem/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Can you please assign me this issue under 'hacktoberfest'. Thank You.

[2021-09-30 22:39] Cyber-Machine opened #72 "TMT Document-Codeforces"
## Link of the question
https://codeforces.com/contest/1509/problem/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Can you please assign me this issue under 'hacktoberfest'. Thank You.

[2021-10-01 01:43] Niyati3031 commented on #14
Can i do this in java

[2021-10-01 02:10] manognyaa commented on #58
Yes mam. sure !!! Thank you

[2021-10-01 02:22] Himanshu664 commented on #43
I have created PR please review.

[2021-10-01 02:39] silicolicious commented on #9
@kanak22 You assigned this issue to me, someone else is making PR for this :(

Please only accept mine.

[2021-10-01 02:50] rachana-singh27 commented on #60
@kanak22 I want to do this in C++, can you please assign me this issue for hacktoberfest2021?

[2021-10-01 02:57] anushkadubey opened #80 "Remove All Adjacent Duplicates In String - LeetCode"
https://leetcode.com/problems/remove-all-adjacent-duplicates-in-string-ii/

## **Coding  Platform**

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCode
- [ ] 450 DSA Sheet

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-10-01 02:59] anushkadubey commented on #80
Assign me this issue @kanak22!

[2021-10-01 03:08] mendoza commented on #51
Let me help out with the python and JavaScript version, add me to the assignees please.

[2021-10-01 03:08] rachana-singh27 opened #82 "Delete And Earn - Leetcode"
## Link of the question
https://leetcode.com/problems/delete-and-earn/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)

[2021-10-01 03:19] neenad99 opened #83 "Remove Duplicate Letters - (Leetcode)"
## Link of the question
https://leetcode.com/problems/remove-duplicate-letters/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-10-01 03:21] neenad99 commented on #83
@kanak22  please assign this issue to me

[2021-10-01 03:37] cp-Coder commented on #62
Please assign me this issue to me for hacktoberfest.

[2021-10-01 03:38] cp-Coder commented on #63
Please assign me this issue to me for hacktoberfest.

[2021-10-01 03:38] cp-Coder commented on #65
Please assign me this issue to me for hacktoberfest.

[2021-10-01 03:38] cp-Coder commented on #69
Please assign me this issue to me for hacktoberfest.

[2021-10-01 03:44] Swapna804 commented on #35
I would like to work on this issue

[2021-10-01 04:06] rachana-singh27 commented on #82
@kanak22  Please assign me this issue for hacktoberfest, I wish to solve this in C++.

[2021-10-01 04:10] shaurya24sri opened #92 "Palindrome String-450 DSA"
Provide the link of the question and ask for assignment of the issue.
https://practice.geeksforgeeks.org/problems/palindrome-string0817/1

## Coding platform

- [ ] 450 DSA Sheet
## Programming language

- [ ] Java

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-01 04:12] shaurya24sri commented on #92
@kanak22 .Please assign me.

[2021-10-01 04:17] Nirbhay1910 opened #93 "450 DSA: search & sort, minimum no. of swaps required to sort the array"
## Link of the question
https://practice.geeksforgeeks.org/problems/minimum-swaps/1

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Pls assign this issue to me for hacktoberfest!

[2021-10-01 04:29] muditg02 opened #94 "Mars Exploration- HackerRank"
## Link of the question
I would like to work on this issue in CPP with Hacktoberfest label
https://www.hackerrank.com/challenges/mars-exploration/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context

[2021-10-01 04:29] adityaraj079 commented on #93
Pls assign this issue to me for hacktoberfest!

[2021-10-01 04:30] muditg02 commented on #94
I would like to work on this issue in C++

[2021-10-01 04:37] KMayank02 opened #95 "Want to give the solution of the linked problem."
## Link of the question
https://www.codechef.com/AUG21C/problems/SPCTRIPS
Please assign me the issue

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about

[2021-10-01 04:37] Nirbhay1910 commented on #93
@adityaraj079 I want to work on this issue that's why I raised it. Pls find another question from DSA sheet or any other platform to work on

[2021-10-01 04:40] adityaraj079 commented on #93
@Nirbhay1910 k bro
didn't know that

[2021-10-01 04:48] adityaraj079 opened #96 "450 DSA: a Program to check whether a string is a valid shuffle of two strings or not"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.geeksforgeeks.org/a-program-to-check-if-strings-are-rotations-of-each-other/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Py

[2021-10-01 05:24] atish-90 opened #98 "Leetcode: Integer to Roman"
## Link of the question
https://leetcode.com/problems/integer-to-roman/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-10-01 05:25] atish-90 commented on #98
I would like to work on this problem.

[2021-10-01 05:26] atish-90 commented on #98
Please assign it to me.

[2021-10-01 05:33] atish-90 opened #99 "Leetcode: Group Anagrams"
## Link of the question
https://leetcode.com/problems/group-anagrams/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-10-01 05:33] atish-90 commented on #99
I would like to contribute the C++ implementation of this problem

[2021-10-01 05:46] rustzz-27 opened #101 "First Bad Version"
## Link of the question
https://leetcode.com/problems/first-bad-version/

## Coding platform
Leetcode

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

C++
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I wish to write the code in C++. So, pls assign this issu

[2021-10-01 05:50] varunsharma21 opened #102 "Find the duplicate number - Leetcode"
## Link of the question
https://leetcode.com/problems/find-the-duplicate-number/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-10-01 05:51] varunsharma21 commented on #102
I wish to solve this problem in C++ please assign me this.

[2021-10-01 05:58] varunsharma21 opened #103 "First Missing Positive - Leetcode"
## Link of the question
https://leetcode.com/problems/first-missing-positive/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## It is a leetcode hard problem.

[2021-10-01 05:59] varunsharma21 commented on #103
I would like to contribute to this problem in C++, please assign this to me.

[2021-10-01 06:04] imishi450 commented on #43
please assign me this task.

[2021-10-01 06:15] atish-90 opened #104 "Leetcode: Convert BST to Greater Tree"
## Link of the question
https://leetcode.com/problems/convert-bst-to-greater-tree/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-10-01 06:15] atish-90 commented on #104
I would like to contribute the C++ solution for this problem.

[2021-10-01 06:18] atish-90 opened #105 "Leetcode: Partition Equal Subset Sum"
## Link of the question
https://leetcode.com/problems/partition-equal-subset-sum/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature reques

[2021-10-01 06:18] atish-90 commented on #105
I would like to contribute the C++ implementation for this problem

[2021-10-01 06:24] deepak252 opened #106 "Shortest Route - CODECHEF"
## Link of the question
[https://www.codechef.com/problems/SHROUTE](https://www.codechef.com/problems/SHROUTE)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I want to solve this problem in

[2021-10-01 06:28] varunsharma21 opened #107 "Find peak element - Leetcode"
## Link of the question
https://leetcode.com/problems/find-peak-element/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Leetcode medium

[2021-10-01 06:30] varunsharma21 commented on #107
I would like to implement a solution to this problem in C++, please assign it to me.

[2021-10-01 06:33] varunsharma21 opened #108 "Sort colors - Leetcode"
## Link of the question
https://leetcode.com/problems/sort-colors/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Leetcode medium problem

[2021-10-01 06:34] varunsharma21 commented on #108
I would like to implement a solution to this problem, please assign this issue to me.

[2021-10-01 08:41] shalyavarnika commented on #108
I want to contribute to it
Any platform will work

[2021-10-01 08:42] shalyavarnika commented on #104
I would like to contribute on any platform, preferably C++, Java or Python.

[2021-10-01 08:51] shalyavarnika opened #112 "[Leetcode] Minimum Absolute Difference in BST"
https://leetcode.com/problems/minimum-absolute-difference-in-bst/
I want to contribute with this question.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots

[2021-10-01 08:52] shalyavarnika commented on #112
I can code in C++, Java or Python.

[2021-10-01 08:53] shalyavarnika opened #113 "[Leetcode] Unique Binary Search Trees II"
## Link of the question
https://leetcode.com/problems/unique-binary-search-trees-ii/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature req

[2021-10-01 08:54] shalyavarnika commented on #113
I can code in C++, Java or Python.

[2021-10-01 08:55] shalyavarnika opened #114 "[Leetcode] Lowest Common Ancestor of a Binary Tree"
## Link of the question
https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-tree/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the f

[2021-10-01 08:56] shalyavarnika opened #115 "[Leetcode] Flatten Binary Tree to Linked List"
## Link of the question
https://leetcode.com/problems/flatten-binary-tree-to-linked-list/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the featur

[2021-10-01 08:56] shalyavarnika opened #116 "[Leetcode] Binary Tree Zigzag Level Order Traversal"
## Link of the question
https://leetcode.com/problems/binary-tree-zigzag-level-order-traversal/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the

[2021-10-01 10:42] AD17YAKR opened #120 "Maximum Subarray - Leetcode"
## Link of the question
https://leetcode.com/problems/maximum-subarray/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I want to solve this using C++,Please assign it to me.

[2021-10-01 10:58] AD17YAKR opened #121 "Maximum Product Subarray - LeetCode"
## Link of the question
https://leetcode.com/problems/maximum-product-subarray/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ x] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
please assign this to me

[2021-10-01 11:56] KeerthanaPravallika opened #122 "Spiral Traversing a matrix from GFG"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://practice.geeksforgeeks.org/problems/spirally-traversing-a-matrix-1587115621/1
I want to work on this. Can you please assign this issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
- [x]

[2021-10-01 11:57] DEEPALI-SUK opened #123 "Maximum Length of a Concatenated String with Unique Characters Leetcode"
## Link of the question
https://leetcode.com/problems/maximum-length-of-a-concatenated-string-with-unique-characters/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)

Kindly, assign me this is

[2021-10-01 11:58] Sri-vishnu-r1431 commented on #43
I have created the pull request kindly assign this to me

[2021-10-01 11:59] Sri-vishnu-r1431 commented on #43
Manager kindly do so please

[2021-10-01 12:01] DEEPIKA-SUK opened #124 "Lucky Sum-Codeforces"
## Link of the question
https://codeforces.com/contest/121/problem/A

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Kindly assign me this issue for Hacktoberfest 2021.

[2021-10-01 12:07] KeerthanaPravallika opened #125 "Longest Common Substring from GFG"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://practice.geeksforgeeks.org/problems/longest-common-substring1452/1
Can you please assign me this issue

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
- [x] GFG
## Programming language

- [

[2021-10-01 12:39] ghozt777 opened #126 "875. Koko Eating Bananas - Leetcode"
## Link of the question
https://leetcode.com/problems/koko-eating-bananas/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-10-01 13:04] Harshit3107 opened #127 "Shuffling Parities-CODECHEF"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.codechef.com/SEPT21C/problems/SHUFFLIN

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL

[2021-10-01 13:20] Harshit3107 opened #128 "Airline Restrictions-CODECHEF"
## Link of the question
https://www.codechef.com/SEPT21C/problems/AIRLINE

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-01 13:42] Himanshu-Agg12 commented on #2
Hello mam, I have made a PR of the #2 and #17 plese review and merge it under tags “hacktoberfest” and “hacktoberfest-accepted”Thanks. Sent from Mail for Windows From: KanakSent: Thursday, September 30, 2021 12:37 PMTo: kanak22/CP-DSA-QuestionsCc: Himanshu Aggarwal; AssignSubject: Re: [kanak22/CP-DSA-Questions] Valid Sudoku-Leetcode (#2) Assigned #2 to @Himanshu-Agg12.—You are receiving this becau

[2021-10-01 14:03] dakshsethi opened #132 "[450 DSA] - 0 to 2 Questions of Arrays"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-01 14:52] kanak22 commented on #62
edit and Mention the coding platform in title asap

[2021-10-01 14:52] kanak22 commented on #63
edit and Mention the coding platform in title asap

[2021-10-01 14:54] kanak22 commented on #69
Make a PR for the assigned issues to you

[2021-10-01 14:58] kanak22 commented on #95
edit and Mention the coding platform in title asap

[2021-10-01 14:58] kanak22 commented on #98
edit and Mention the coding platform in title asap

[2021-10-01 14:59] kanak22 commented on #101
edit and Mention the coding platform in title asap

[2021-10-01 15:01] kanak22 commented on #104
edit and Mention the coding platform in title asap

[2021-10-01 15:01] kanak22 commented on #105
I assigned you three issues complete them first

[2021-10-01 15:03] kanak22 commented on #108
I assigned you 3 issues complete them .. then i will assign this to u

[2021-10-01 15:03] kanak22 commented on #112
edit and Mention the coding platform in title asap

[2021-10-01 15:03] kanak22 commented on #113
edit and Mention the coding platform in title asap

[2021-10-01 15:04] kanak22 commented on #115
I have assigned you three issues complete them first

[2021-10-01 15:05] kanak22 commented on #120
edit and Mention the coding platform in title asap

[2021-10-01 15:06] shalyavarnika commented on #115
okay

[2021-10-01 15:08] rustzz-27 commented on #101
leetcode it is

[2021-10-01 15:08] kanak22 commented on #121
edit and Mention the coding platform in title asap

[2021-10-01 15:09] kanak22 commented on #122
edit and Mention the coding platform in title asap

[2021-10-01 15:10] kanak22 commented on #123
Remove () around the leetcode in issue title

[2021-10-01 15:11] KeerthanaPravallika commented on #122
Okay done

[2021-10-01 15:11] kanak22 commented on #125
edit and Mention the coding platform in title asap

[2021-10-01 15:11] KeerthanaPravallika commented on #125
Done

[2021-10-01 15:13] kanak22 commented on #132
Interchange the position [450 DSA] - 0 to 2 Questions of Arrays
 to 0-2 Questions of Arrays - [450 DSA]

[2021-10-01 15:13] gunjan-g opened #133 "Find The Median- HackerRank"
## Link of the question
https://www.hackerrank.com/challenges/find-the-median/problem
I'm a participant in Hacktoberfest'21
Please assign this issue to me in C++

## Coding platform

- [x] Hackerrank

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add comments in my code for better understanding

[2021-10-01 15:14] kanak22 commented on #122
@KeerthanaPravallika Make sure to add a Directory of GFG and then a directory of the question and to edit the readme.md to include GFG in the repository

[2021-10-01 15:15] gunjan-g opened #134 "Pangrams- HackerRank"
## Link of the question
https://www.hackerrank.com/challenges/pangrams/problem
I'm a participant in Hacktoberfest'21
Please assign this issue to me in C++

## Coding platform

- [x] Hackerrank

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add comments in my code for better understanding

[2021-10-01 15:15] gunjan-g commented on #134
Please assign me this issue in CPP

[2021-10-01 15:17] KeerthanaPravallika commented on #122
Okay

[2021-10-01 15:17] muditg02 opened #135 "Find Digits- HackerRank"
## Link of the question
I would like to work on this issue in CPP with Hacktoberfest label
https://www.hackerrank.com/challenges/find-digits/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTI

[2021-10-01 15:17] kanak22 commented on #60
Go Ahead @rachana-singh27

[2021-10-01 15:18] kanak22 commented on #55
@sgaurav37533  I guess this issue wasn't assigned to you I will not be merging this PR as this behavior is breaching the contribution guidelines

[2021-10-01 15:19] muditg02 opened #136 "Ice Cream Parlor- HackerRank"
## Link of the question
I would like to work on this issue in CPP with Hacktoberfest label
https://www.hackerrank.com/challenges/icecream-parlor/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (

[2021-10-01 15:19] kanak22 commented on #51
sure @mendoza

[2021-10-01 15:19] muditg02 commented on #136
I would like to work on this issue in C++

[2021-10-01 15:23] rustzz-27 commented on #101
done

[2021-10-01 15:33] Rohit5152 opened #140 "To Generate All Subsets of Array using bit manipulation or using recurrsion"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://leetcode.com/problems/subsets/
platform :Leetcode
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [/ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (O

[2021-10-01 15:35] Rohit5152 commented on #140
Please Assign this to me. Because I solveed more than 300 problems on leetcode and other platform also.
I have good grasp on this topic .
it will help me my first time contribution

[2021-10-01 15:38] kanak22 commented on #2
@Himanshu-Agg12  Since you have made a single PR for both issues it will be counted as only one.

[2021-10-01 15:39] sgaurav37533 commented on #55
oh ohk I am still learning about it I will close the pull request @kanak22 can you tell me how can i contribute in this repo.

[2021-10-01 15:45] jdrodriguezh commented on #51
I would like to do the Java version for this. Can you add me to the assignees, please?

[2021-10-01 15:56] dsasaank-369 commented on #120
Can you please assign me with this question, I will solve it in Java

[2021-10-01 16:24] Bala179 opened #147 "WoodCutting Made Easy! - InterviewBit"
## Link of the question
I would like to work on this problem in Java with the Hacktoberfest label:
https://www.interviewbit.com/problems/woodcutting-made-easy/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [x] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-10-01 16:38] Himanshu-Agg12 commented on #2
@kanak22 yes no problem mam, you can merge it as one.
Thanks

[2021-10-01 16:46] shalyavarnika commented on #112
@kanak22 You have enabled auto merge, I am not able to create a new pull request for different questions. Please check.

[2021-10-01 16:47] rustzz-27 commented on #101
pls review my pr
#149

[2021-10-01 16:55] ghozt777 opened #152 "First Missing Positive - Leetcode"
## Link of the question
https://leetcode.com/problems/first-missing-positive/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-10-01 16:55] samridhikapoor commented on #51
@kanak22 I have created a PR. Kindly review the same

Link to the PR: https://github.com/kanak22/CP-DSA-Questions/pull/100

[2021-10-01 16:55] ghozt777 commented on #152
Ma'am, Please assign me this issue @kanak22

[2021-10-01 16:59] ghozt777 opened #154 "Find Minimum in Rotated Sorted Array II - Leetcode"
## Link of the question
https://leetcode.com/problems/find-minimum-in-rotated-sorted-array-ii/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-10-01 17:00] ghozt777 commented on #154
Ma'am, Please assign me this issue @kanak22

[2021-10-01 17:02] ghozt777 opened #156 "Split Array Largest Sum - Leetcode"
## Link of the question
https://leetcode.com/problems/split-array-largest-sum/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-10-01 17:03] ghozt777 commented on #156
Ma'am, Please assign me this issue @kanak22

[2021-10-01 17:05] kanak22 commented on #43
Folks all the PRs related to this issue will be closed as it wasn't assigned to any one of you and making a PR without being assigned is a breach of the guidelines.

And kindly have some patience and only make the PR's when you will get the issue assigned !

[2021-10-01 17:05] #43 closed

[2021-10-01 17:06] ghozt777 opened #158 "Search a 2D Matrix - Leetcode"
## Link of the question
https://leetcode.com/problems/search-a-2d-matrix/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-10-01 17:09] ghozt777 opened #159 "Find First and Last Position of Element in Sorted Array - Leetcode"
## Link of the question
https://leetcode.com/problems/find-first-and-last-position-of-element-in-sorted-array/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-10-01 17:11] ghozt777 commented on #159
Ma'am, Please assign me this issue @kanak22

[2021-10-01 17:12] ghozt777 commented on #158
Ma'am, Please assign me this issue @kanak22

[2021-10-01 17:14] navjotdadwal commented on #133
Sir please assign this issue to me

Why you should assign this to me?
i am current rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776
https://codeforces.com/profile/navjotdadwal
https://www.codechef.com/users/navjot1234
So i can handle and solve this issue

[2021-10-01 17:15] Himanshu664 opened #163 "Reversing the array DSA 450"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.geeksforgeeks.org/write-a-program-to-reverse-an-array-or-string/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Ad

[2021-10-01 17:16] Himanshu664 commented on #163
please assign this issue to me @kanak22 ,also add hacktoberfest label.

[2021-10-01 17:21] Piyushjar opened #164 "Sort Colors - Leetcode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-01 17:24] icoderharshit opened #166 "Add: Q.71 from LeetCode , Solution in Java"
## Link of the question
https://leetcode.com/problems/simplify-path/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
This is my first issue for Hacktoberfest '21, kindly assign me this issue

[2021-10-01 17:30] yashAgarwal41 opened #168 "Thief and Police - Codechef"
**## Link of the question**
https://www.codechef.com/problems/TANDP

**## Coding platform**

- [ ] Codechef

**## Programming language**

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

**## Additional context (OPTIONAL)**
I'm a Hacktoberfest 2021 participant. Please assign this issue to me.

[2021-10-01 17:43] Niyati3031 commented on #108
Can you assign this it me please @kanak22

[2021-10-01 17:45] muditg02 commented on #135
@kanak22 please assign me this issue

[2021-10-01 17:46] muditg02 commented on #136
@kanak22 please assign me this issue

[2021-10-01 19:09] Amitdutta7 opened #178 "Binary Tree Maximum Path Sum - LeetCode"
## Link of the question
https://leetcode.com/problems/binary-tree-maximum-path-sum/
Hey, I would like to solve this Leetcode Problem No. 124 using C++.  Kindly assign it to me. Thanks :)

## Coding platform
- [x] Leetcode

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add some comments in my code for better understanding.

[2021-10-01 19:48] Cyber-Machine opened #182 "Max and Mex- Codeforces"
## Link of the question
https://codeforces.com/contest/1496/problem/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Can you please assign me this issue under 'hacktoberfest' tag. Thank You

[2021-10-01 19:50] Cyber-Machine opened #183 "Counting Kangaroos Is Fun- Codeforces"
## Link of the question
https://codeforces.com/contest/372/problem/A

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Can you please assign me this issue under 'hacktoberfest' tag. Thank You.

[2021-10-01 19:55] vipul-2003 opened #184 "Box it! - Hackerrank"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

[Box It! ](https://www.hackerrank.com/challenges/box-it/problem)

please assign this issue to me :))  @kanak22

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x]

[2021-10-01 19:59] vipul-2003 opened #185 "Determine Whether Matrix Can Be Obtained By Rotation - Leetcode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

 ## [`Determine Whether Matrix Can Be Obtained By Rotation`](https://leetcode.com/problems/determine-whether-matrix-can-be-obtained-by-rotation/)

please assign this to me :)) @kanak22

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBi

[2021-10-01 20:09] kanak22 commented on #51
sure ;)

[2021-10-01 20:18] kanak22 commented on #164
hey @Piyushjar I wont be merging this PR as the issue hadnt been assigned to you and you made a pull request which breaches the guidelines of the project. So I m closing it

[2021-10-01 20:19] kanak22 commented on #164
If you wish to contribute, do follow all the guidelines and let me know then only I will assign this to you

[2021-10-01 20:49] kanak22 commented on #133
hey @navjotdadwal in which language u would like to do this?

[2021-10-02 01:04] navjotdadwal commented on #133
C++

[2021-10-02 03:20] jdrodriguezh commented on #51
@kanak22 PR submitted! #187

[2021-10-02 04:55] Sri-vishnu-r1431 commented on #44
Kindly assign this to me @kanak22

[2021-10-02 05:20] 2000shivam659 opened #193 "Find_in_Mountain_Array - LeetCode"
## Link of the question
https://leetcode.com/problems/find-in-mountain-array/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
<img width="957" alt="cd" src="https://user-images.githubusercont

[2021-10-02 05:22] 2000shivam659 commented on #193
Kindly assign me this issue @kanak22 Under Hacktoberfest'21.

[2021-10-02 05:33] dsasaank-369 commented on #120
I have submitted the code please verify it.
https://github.com/kanak22/CP-DSA-Questions/pull/143

[2021-10-02 07:13] mohitmishra786 opened #198 "Dungeon Game"
## Link of the question
Provide the link to the question and ask for an assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the

[2021-10-02 07:13] mohitmishra786 commented on #198
@kanak22  Please assign me this issue

[2021-10-02 07:19] shalyavarnika commented on #116
@kanak22 please assign me this

[2021-10-02 07:19] shalyavarnika commented on #115
@kanak22 Please assign me this.

[2021-10-02 07:38] kanak22 commented on #133
@navjotdadwal Its done in C++. Any other language you would like to contribute in?

[2021-10-02 07:39] atish-90 commented on #105
I have completed the previous 3 issues assigned to me and they are merged with the remote main branch as well.

[2021-10-02 07:40] harshnadar opened #200 "Find Closest Palindrome - Leetcode"
## Link of the question
https://leetcode.com/problems/find-the-closest-palindrome/
Please assign this issue to me @kanak22

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other contex

[2021-10-02 07:46] atish-90 commented on #105
Do assign me this issue so that I can work on it.

[2021-10-02 07:58] muditg02 commented on #135
@kanak22 please assign me this issue

[2021-10-02 07:59] muditg02 commented on #136
@kanak22 please assign me this issue

[2021-10-02 08:00] Sri-vishnu-r1431 commented on #44
Kindly assign this to me @kanak22

[2021-10-02 08:19] atish-90 opened #203 "Leetcode: Partition Equal Subset Sum"
## Link of the question
https://leetcode.com/problems/partition-equal-subset-sum/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-10-02 08:20] atish-90 commented on #203
I would like to contribute the C++ solution for this problem.

[2021-10-02 08:23] kanak22 commented on #105
If you do not wish to continue this do let me know

[2021-10-02 08:23] #203 closed

[2021-10-02 08:24] atish-90 commented on #105
No, I want to contribute to this.

[2021-10-02 08:24] atish-90 commented on #105
I created a separate issue for this so that's why I closed this one.

[2021-10-02 08:28] rustzz-27 commented on #101
Hello,
any changes you want to make?

[2021-10-02 08:37] kanak22 commented on #140
edit nd Mention the platform in issue title

[2021-10-02 08:39] kanak22 commented on #158
Complete the 3 issues assigned to you then let me know ;)

[2021-10-02 08:39] kanak22 commented on #159
Complete your 3 issues and let me know afterwards

[2021-10-02 08:40] kanak22 commented on #166
Edit and mention the name of the question in the issue title

[2021-10-02 08:41] kanak22 commented on #168
In which language ?

[2021-10-02 08:42] kanak22 commented on #182
In which language?

[2021-10-02 08:44] kanak22 commented on #198
Edit and mention the platform in issue title

[2021-10-02 08:45] kanak22 commented on #200
Edit and mention the platform in issue title

you want to contribute in which language?

[2021-10-02 08:46] kanak22 commented on #116
In which language?

[2021-10-02 08:46] kanak22 commented on #115
In which language?

[2021-10-02 08:47] kanak22 commented on #108
Both of you mention your languages

[2021-10-02 08:47] #164 closed

[2021-10-02 08:48] kanak22 commented on #101
No, Its open for other languages now

[2021-10-02 08:51] Sri-vishnu-r1431 opened #208 "Power set-450 DS Algo"
## Link of the question
https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)

[2021-10-02 08:51] kanak22 commented on #35
In which language @Swapna804

[2021-10-02 08:51] Sri-vishnu-r1431 opened #209 "Number of 1 Bits -DS Algo 450"
## Link of the question
https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the f

[2021-10-02 08:52] #71 closed

[2021-10-02 08:53] #41 closed

[2021-10-02 08:53] #42 closed

[2021-10-02 08:54] yashAgarwal41 commented on #168
C++

[2021-10-02 08:57] kanak22 commented on #168
okay

[2021-10-02 08:58] shalyavarnika commented on #116
@kanak22 C++.

[2021-10-02 08:58] shalyavarnika commented on #115
@kanak22 C++

[2021-10-02 09:00] kanak22 commented on #116
okay

[2021-10-02 09:00] kanak22 commented on #115
okay go ahead ;)

[2021-10-02 09:04] Niyati3031 commented on #108
Java

[2021-10-02 09:15] Cyber-Machine commented on #182
Java

[2021-10-02 09:32] arp99 opened #217 "Merge k Sorted Lists - Leetcode"
## Link of the question
https://leetcode.com/problems/merge-k-sorted-lists/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

Please assign me this issue @kanak22

[2021-10-02 09:41] cp-Coder commented on #69
Is there any problem??

[2021-10-02 10:01] yashg41 commented on #116
I want to do this in Java
@kanak22

[2021-10-02 10:04] yashg41 commented on #104
@kanak22 I want to do this question in Java

[2021-10-02 10:05] yashg41 commented on #114
@kanak22 I want to do this question in Java

[2021-10-02 10:05] yashg41 commented on #217
@kanak22 I want to do this question in Java

[2021-10-02 10:08] yashg41 opened #220 "[Leetcode] Permutations"
## Link of the question
https://leetcode.com/problems/permutations/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-02 10:09] Abhishekgaikwadcoder opened #221 "Sort a k sorted doubly linked list - 450 DS Algo"
## Link of the question
https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet

## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Kindly assign me this issue under hacktoberfest

[2021-10-02 10:13] samridhikapoor opened #222 "Merge k Sorted Lists - Leetcode"
## Link of the question
https://leetcode.com/problems/merge-k-sorted-lists/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-02 10:15] samridhikapoor commented on #222
@kanak22 Please assign this issue to me under hacktoberfest '21. I would be contributing the code in C++ Language.
Thanks

[2021-10-02 10:43] madhushaw1012 commented on #46
I would like to solve this issue in Java. Please assign it to me.

[2021-10-02 10:58] sauravs0 opened #226 "CodeForces - 1573B - Swaps"
## Link of the question
https://codeforces.com/problemset/problem/1573/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Kindly assign me this issue under hacktoberfest '21

[2021-10-02 11:00] sauravs0 opened #227 "CodeForces - 1579B - Shifting Sort"
## Link of the question
https://codeforces.com/problemset/problem/1579/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Kindly assign me this issue under hacktoberfest '21

[2021-10-02 11:26] Anushk2001 opened #231 "Portal - Codeforces Round #745 (Div. 2) (Rated)"
Problem Link- https://codeforces.com/contest/1581/problem/C
Language- C++
Kindly, assign me this issue as a part of Hactoberfest 2021

## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [YES] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programmin

[2021-10-02 11:57] Himanshu664 commented on #163
@kanak22 please review.

[2021-10-02 12:15] ghozt777 commented on #158
@kanak22 I completed the three issues that I created. It will be very helpful if you review my PRs.

[2021-10-02 12:28] samridhikapoor opened #234 "Top K frequent words - Leetcode"
## Link of the question
https://leetcode.com/problems/top-k-frequent-words/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here

[2021-10-02 12:28] samridhikapoor commented on #234
@kanak22 Please assign this issue to me under hacktoberfest '21. I would be contributing the code in C++ Language.
Thanks

[2021-10-02 13:36] Niyati3031 commented on #126
@kanak22 can you please assign this to me its my first time contributing please..

[2021-10-02 13:38] Niyati3031 commented on #113
@kanak22  can you please assign this to me in java..

[2021-10-02 13:45] Niyati3031 commented on #108
please assign to me..

[2021-10-02 14:06] Harshit3107 commented on #128
Can i give the java code too? @kanak22

[2021-10-02 14:39] #58 closed

[2021-10-02 15:13] SwayamJilla commented on #200
can i do it in java??

[2021-10-02 15:25] SwayamJilla opened #239 "Swap Nodes in Pairs"
https://leetcode.com/problems/swap-nodes-in-pairs/
from leetcode
Please assign me this issue .My solution will be in java

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context

[2021-10-02 15:29] SwayamJilla opened #240 "palindrome linked list"
https://leetcode.com/problems/palindrome-linked-list/
Please assign me this @kanak22  the solution will be in java

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or scr

[2021-10-02 15:33] SwayamJilla opened #241 "LRU Cache-Linked list"
https://leetcode.com/problems/lru-cache/
please assign me this @kanak22
in java
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request h

[2021-10-02 15:36] SwayamJilla opened #242 "Clone Graph - graph"
https://leetcode.com/problems/clone-graph/
please assign me this @kanak22
in java

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature reques

[2021-10-02 15:45] Nirbhay1910 commented on #55
@kanak22 I have solved this question and the other one (which was assigned to me) in one PR (which just got merged) and I forgot to mention this issue number there. So pls unassign this issue from me so that other participants can solve it in other languages😊

[2021-10-02 15:57] 2000shivam659 opened #243 "Median of Two Sorted Arrays"
## Link of the question
https://leetcode.com/problems/median-of-two-sorted-arrays/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
<img width="682" alt="ad" src="https://user-images.githubuse

[2021-10-02 16:18] kanak22 commented on #116
@yashg41 okay ;)

[2021-10-02 16:27] adityaraj079 commented on #93
@kanak22 can i work on this issue under hacktoberfest

[2021-10-02 16:32] kanak22 commented on #226
hey @sauravs0 this issue wasnt assigned to you so i will not be merging the PR as this is a breach of the guidelines of the project ;)

[2021-10-02 16:32] #226 closed

[2021-10-02 16:33] kanak22 commented on #227
hey @sauravs0 this issue wasnt assigned to you so i will not be merging the PR as this is a breach of the guidelines of the project ;)
If you wish to contribute open them again and get them assigned first!

[2021-10-02 16:33] #227 closed

[2021-10-02 16:41] KeerthanaPravallika opened #246 "Missing Number in an array - GFG"
## Link of the question
Question Link : https://practice.geeksforgeeks.org/problems/missing-number-in-array1416/1
I want to work on this issue. Can you please assign me

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
- [x] GFG
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Pytho

[2021-10-02 16:44] KeerthanaPravallika opened #247 "Middle Element in a Linked List - GFG"
## Link of the question
Question Link : https://practice.geeksforgeeks.org/problems/finding-middle-element-in-a-linked-list/1
I want to work on this issue. Can you please assign me

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
- [x] GFG
## Programming language

- [ ] C
- [x] C++
- [ ] Java

[2021-10-02 17:02] gaurav1058 commented on #159
please assign me for c++.

[2021-10-02 17:10] gaurav1058 commented on #62
@kanak22 please assign me this issue in c++

[2021-10-02 17:18] madhushaw1012 commented on #136
I would like to work on this issue using Java. Please assign me this issue.

[2021-10-02 17:25] sauravs0 commented on #226
@kanak22  Can you reopen this issue and then assign it to me?

[2021-10-02 17:28] debjitpal5040 commented on #136
I would like to solve this problem in python. Please assign me this issue.

[2021-10-02 17:29] sauravs0 opened #251 "CodeForces - 1573B - Swaps"
## Link of the question
https://codeforces.com/problemset/problem/1573/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Kindly assign me this issue under hacktoberfest '21

[2021-10-02 17:30] sauravs0 opened #252 "CodeForces - 1579B - Shifting Sort"
## Link of the question
https://codeforces.com/problemset/problem/1579/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Kindly assign me this issue under hacktoberfest '21

[2021-10-02 18:18] madhushaw1012 commented on #135
I would like to work on this issue using Java. Please assign me this issue.

[2021-10-02 18:19] debjitpal5040 commented on #135
I would like to work on this issue using Python. Please assign me this issue.

[2021-10-02 18:41] kshitijver opened #255 "LeetCode 12 - Integer to Roman."
## Link of the question
Question link - https://leetcode.com/problems/integer-to-roman/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

## Additional context (OPTIONAL)
@kanak22 Kindly assign this question to me under hackto

[2021-10-02 18:42] Harshit3107 commented on #127
can i add java solution ? @kanak22

[2021-10-02 18:47] madhushaw1012 commented on #134
I want to work on this issue using java. Please assign me this issue.

[2021-10-02 18:49] madhushaw1012 commented on #125
I want to work on this issue using Java. Please assign me this issue.

[2021-10-02 19:00] vipul-2003 commented on #185
i have submitted two commits in single pr by mistake it fine to you ??

reference #185 assigned issue
if yes then close this

[2021-10-02 19:24] Harshit3107 opened #256 "CODECHEF practice problem -the lead game"
## Link of the question
https://www.codechef.com/problems/TLG/.
I want to add cpp solution for the problem .
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshot

[2021-10-02 19:30] Harshit3107 opened #257 "codechef-chef and way problem"
## Link of the question
https://www.codechef.com/problems/CHRL4.
I want to add cpp solution for the problem .
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screensho

[2021-10-02 19:39] adityaraj079 commented on #96
@kanak22 You can check the PR generated

[2021-10-02 19:43] lalit-commits commented on #108
please assign it to me {c++}

[2021-10-02 19:45] lalit-commits commented on #102
can I solve this ?
language : C++

[2021-10-02 21:50] SaloniJain24 opened #260 "Reverse of an array in C++"
## Link of the question
https://github.com/kanak22/CP-DSA-Questions/issues/163

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request h

[2021-10-02 21:51] #260 closed

[2021-10-02 22:16] SaloniJain24 opened #261 "Spiral of a matrix in C++"
## Link of the question
https://github.com/kanak22/CP-DSA-Questions/issues/122
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request he

[2021-10-02 22:25] TikuGaelle opened #262 "Reversing an array DSA 450"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-02 22:26] TikuGaelle commented on #262
Hello @kanak22, please assign this issue to me, and add hacktoberfest label...

[2021-10-03 02:09] SaloniJain24 commented on #261
pls assign this problem to me under hacktoberfest'21

[2021-10-03 05:43] neenad99 opened #264 "Rotting Oranges Leetcode Problem 994"
## Link of the question
https://leetcode.com/problems/rotting-oranges/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)

[2021-10-03 05:57] bsen20 commented on #264
@kanak22  Please assign this one to me I will do it in C++.

[2021-10-03 06:14] bsen20 commented on #255
@kshitijver can I work on this in java or c++ anything you wish.

[2021-10-03 06:33] neenad99 commented on #264
@kanak22  assign this issue to me for hacktoberfest

[2021-10-03 07:01] Bhavika-Gianey opened #265 "Jumping on the Clouds: Revisited"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://www.hackerrank.com/challenges/jumping-on-the-clouds-revisited/problem.

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

##

[2021-10-03 08:07] daniddelrio opened #267 "The Smallest String Concatenation - Codeforces"
## Link of the question
[CF632C](https://codeforces.com/contest/632/problem/C)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [X] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
N/A

[2021-10-03 08:07] daniddelrio commented on #267
Will be doing this in Java!

[2021-10-03 08:10] daniddelrio opened #268 "They Are Everywhere - Codeforces"
## Link of the question
[CF701C](https://codeforces.com/contest/701/problem/C)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [X] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-10-03 08:10] daniddelrio commented on #268
Again will be doing this in Java :)

[2021-10-03 09:12] Harshit3107 commented on #256
- @kanak22 please assign this.

[2021-10-03 09:49] kanak22 commented on #255
@bsen20 Do this in c++

[2021-10-03 09:51] kanak22 commented on #256
In which language?

[2021-10-03 09:54] kanak22 commented on #261
Comment this under that issue and the PR you made before getting it assigned will not be merged as it breaches the guidelines of the project.

[2021-10-03 09:54] #261 closed

[2021-10-03 09:56] Harshit3107 commented on #256
Cpp

[2021-10-03 09:56] kanak22 commented on #264
@neenad99 will do this in C++, @bsen20 would like to do this in any other language?

[2021-10-03 09:57] kanak22 commented on #256
okay ;)

[2021-10-03 09:59] kanak22 commented on #185
make separate PRs for separate issues ;)

[2021-10-03 10:02] bsen20 commented on #264
@kanak22 I'll do in java

[2021-10-03 10:02] kanak22 commented on #128
okay but since your one PR is merged in this issue i wont be adding a tag of hacktoberfest-accpted to this one, if its fine let me know

[2021-10-03 10:03] vipul-2003 commented on #185
i am new on github please guide me little how will i seperate these two commits ....?

[2021-10-03 10:16] iamkrati22 commented on #158
I'd like to work on this issue. @kanak22

[2021-10-03 10:32] SahilKesarwani opened #271 "Codechef - Chef and Typing"
## Link of the question
https://www.codechef.com/SDPCB21/problems/TYPING

I will add the solution in C++. Can you assign it to me?

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any othe

[2021-10-03 10:52] SaloniJain24 commented on #261
heyy @kanak22 , can u pls tell me exactly what i have to do as i am a beginner.

[2021-10-03 11:08] BharaniSri10 commented on #247
i want contribute on this .can you please assign me?

[2021-10-03 11:13] BharaniSri10 commented on #92
@kanak22 can you please assign me?

[2021-10-03 11:33] Ayushi7456 opened #274 "Greg's Workout - Codeforces"
## Link of the question
https://codeforces.com/contest/255/problem/A

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-03 11:40] Ayushi7456 commented on #274
Added the solution of Greg's workout in java. Kindly level this issue as Hactoberfest :)

[2021-10-03 11:51] Dark-Hope-tech opened #276 "Advertising Agency"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
 https://codeforces.com/contest/1475/problem/E
## Coding platform
- [X] Codeforces
## Programming language
<!--
- [X] C++
Add any other context or screenshots about the feature request here.

[2021-10-03 13:55] Swapna804 commented on #35
in c++

[2021-10-03 13:59] Swapna804 opened #283 "121. Best Time to Buy and Sell Stock"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://leetcode.com/problems/best-time-to-buy-and-sell-stock/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional contex

[2021-10-03 14:22] samridhikapoor commented on #234
@kanak I have created a PR for this issue. Kindly review the same.

Link to the PR: https://github.com/kanak22/CP-DSA-Questions/pull/284

Thanks

[2021-10-03 15:12] atish-90 opened #286 "Codechef : Cricket Ranking"
## Link of the question
https://www.codechef.com/problems/CRICRANK

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-03 15:13] anishbharti118 opened #287 "Codechef : Chef and Groups"
## Link of the question
https://www.codechef.com/MARCH21C/problems/GROUPS

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-03 15:14] atish-90 commented on #286
I would like to contribute the C++ solution to this problem.

[2021-10-03 15:14] anishbharti118 commented on #287
I would like to contribute the C++ solution for this problem.

[2021-10-03 15:24] tausifaman222 commented on #158
@kanak22 Please Assign me this issue. Thank You

[2021-10-03 17:52] vipul-2003 commented on #185
@kanak22  okk submitting pr asap

[2021-10-03 18:25] shreyrai99 opened #294 "Arithmetic Slices - Leetcode"
## Link of the question
https://leetcode.com/problems/arithmetic-slices/
Hey, I would like to solve this Leetcode Problem No. 124 using C++. Kindly assign it to me. Thanks :)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

#

[2021-10-03 18:31] shreyrai99 opened #295 "Journey to the Moon - Hackerrank"
## Link of the question
https://www.hackerrank.com/challenges/journey-to-the-moon/problem
Hey, I would like to solve this Hackerrank Problem using C++. Kindly assign it to me. Thanks :)

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [

[2021-10-03 18:37] shreyrai99 opened #296 "Long Contest and Cook Off Overlaps - Codechef"
## Link of the question
https://www.codechef.com/FEB20B/problems/LONGCOOK
Hey, I would like to solve this Codechef Problem using C++. Kindly assign it to me. Thanks :)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Addit

[2021-10-03 18:41] shreyrai99 opened #297 "No Change Required - Codechef"
## Link of the question
https://www.codechef.com/FEB20B/problems/NOCHANGE
Hey, I would like to solve this Codechef Problem using C++. Kindly assign it to me. Thanks :)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Addit

[2021-10-03 19:09] brilam opened #298 "Leetcode - Two Sum"
## Link of the question
[Two Sum](https://leetcode.com/problems/two-sum/)

Could you please assign this question to me? @kanak22 I will be doing this question in Python.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Add

[2021-10-03 20:32] sarthakvijay opened #299 "Search Suggestions System"
## Link of the question
https://leetcode.com/problems/search-suggestions-system/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Hi, please assign the issue to me, I would like to solve it in

[2021-10-03 20:33] sarthakvijay commented on #299
@kanak22 Please assign this issue to me under hacktoberfest '21. I would be contributing the code in Java Language.
Thanks

[2021-10-03 20:35] sarthakvijay opened #300 "Map Sum Pairs"
## Link of the question
https://leetcode.com/problems/map-sum-pairs/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Hi, please assign the issue to me, I would like to solve it in java.

[2021-10-03 20:36] sarthakvijay commented on #300
@kanak22 Please assign this issue to me under hacktoberfest '21. I would be contributing the code in Java Language.
Thanks

[2021-10-04 01:01] bsen20 commented on #255
I did it in Java since c++ code already exists.

[2021-10-04 04:21] Abhishekgaikwadcoder commented on #221
I have added a PR please @kanak22 review it.

[2021-10-04 12:38] raazanand commented on #283
@kanak22 I would definitely like to work on this problem. Please assign this to me in java.

[2021-10-04 12:40] raazanand commented on #247
@kanak22 I would definitely like to work on this problem. Please assign this to me in java.

[2021-10-04 13:37] fleurdelis07 commented on #247
@kanak22 could you please assign me this issue

[2021-10-04 13:42] aakashjain294 commented on #163
please assign this issue to me, I am proficient in the java language you can check my DsAlgo repository

[2021-10-04 13:44] satyam-mahajan commented on #247
I would like to work on this issue, requesting you to please assign this issue to me :)
Thank you

[2021-10-04 13:45] satyam-mahajan commented on #255
I would like to work on this issue, requesting you to please assign this issue to me :)
Thank you

[2021-10-04 13:46] satyam-mahajan commented on #264
I would like to work on this issue, requesting you to please assign this issue to me. I will do in C++.
Thank you

[2021-10-04 15:22] vipul-2003 commented on #184
Merge #293 pr :))

@kanak22

[2021-10-04 17:32] #103 closed

[2021-10-04 17:45] kanak22 commented on #255
@satyam-mahajan Its done in cpp and java ..which language will u add?

[2021-10-04 17:54] #98 closed

[2021-10-04 17:54] satyam-mahajan commented on #255
@kanak22  I can do it in python. Please assign.

[2021-10-04 17:55] kanak22 commented on #255
okay ;)

[2021-10-04 17:59] kanak22 commented on #247
@BharaniSri10 @raazanand @fleurdelis07 @satyam-mahajan mention your languages?

[2021-10-04 18:03] satyam-mahajan commented on #247
My language is C++.please assign

[2021-10-04 18:04] satyam-mahajan commented on #247
@kanak22 my language is C++.Please assign

[2021-10-04 18:04] #264 closed

[2021-10-04 18:05] kanak22 commented on #264
@satyam-mahajan cpp is done. Is there any language you can contribute in?

[2021-10-04 18:10] satyam-mahajan commented on #264
@kanak22 I can do in Python also. Please assign

[2021-10-04 18:16] kanak22 commented on #108
@lalit-commits Cpp is done, Is there any other language u can contribute in?

[2021-10-04 18:20] kanak22 commented on #108
@varunsharma21 I wont be merging this PR as the issue wasnt assigned to you yet and it would be a breach of the guidelines if i merged it.

I am assigning you and @Niyati3031 , start working on it and make a PR.

[2021-10-04 18:24] kanak22 commented on #234
Hey @samridhikapoor just do that change I suggested as it is becoming hectic day by day to rename all the files by myself ;) I hope you understand

[2021-10-04 18:41] kanak22 commented on #247
@satyam-mahajan Cpp is done

[2021-10-04 18:41] kanak22 commented on #264
Okay go ahead ;)

[2021-10-04 18:44] kanak22 commented on #274
Hello @Ayushi7456  it seems as if you hadnt read the guidelines of this project. Do give a read to them and from next time if you wish to contribute make sure to get it assigned and then make a PR.

I wont be merging this PR due to its breach of the guidelines.

If you wish to contribute, let me know here I will assign you and then make a PR.

[2021-10-04 18:45] kanak22 commented on #276
in which language?

[2021-10-04 18:50] #234 closed

[2021-10-04 18:55] kanak22 commented on #297
Firstly, complete the 3 issues I assigned ;) then will assign this to you

[2021-10-04 18:56] kanak22 commented on #298
Go Ahead ;)

[2021-10-04 18:58] samridhikapoor commented on #222
@kanak22  I have created a PR for this issue. Kindly review the same.

Link to the PR: https://github.com/kanak22/CP-DSA-Questions/pull/312

Thanks

[2021-10-04 19:08] samridhikapoor opened #313 "Letter combinations of a phone number - Leetcode"
## Link of the question
https://leetcode.com/problems/letter-combinations-of-a-phone-number/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fea

[2021-10-04 19:09] samridhikapoor commented on #313
@kanak Please assign this issue to me under Hacktoberfest '21. I would be contributing the code in C++ Language.
Thanks

[2021-10-04 19:10] Devansh-gaur-1611 opened #314 "Binary Search in 2D matrix"
## Link of the question
https://leetcode.com/problems/search-a-2d-matrix/
https://leetcode.com/problems/search-a-2d-matrix-ii/.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [x] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Hi, please assi

[2021-10-04 19:11] Devansh-gaur-1611 commented on #314
Hello @kanak22, please assign me this issue. I would like to do it in the java language

[2021-10-04 19:35] kanak22 commented on #222
@samridhikapoor I just checked that some issues are repeated and this is one of them. I m sorry but if you can add this in any other language other than cpp then only I can accept this. ;) Let me know if you can

[2021-10-04 19:39] kanak22 commented on #240
@brilam yes ;)

@aakashjain294 Java is already done.

[2021-10-04 19:40] kanak22 commented on #163
There is already a PR for java. If you can contribute in any other language?

[2021-10-04 19:46] kanak22 commented on #35
Cpp is already taken

[2021-10-04 19:48] kanak22 commented on #261
@SaloniJain24 give a read to the contributing.md and readme of the project and then open an issue, wait for it to get assigned, after getting assigned start working on it and then make a PR ;)

[2021-10-04 19:49] kanak22 commented on #92
@BharaniSri10 in which language ?

[2021-10-04 19:50] kanak22 commented on #102
Cpp is done. Is there any other language you would like to contribute in?

[2021-10-04 19:54] Devansh-gaur-1611 opened #319 "Median of two sorted arrays - Leetcode"
## Link of the question
https://leetcode.com/problems/median-of-two-sorted-arrays/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Hi, I want to work on this issue and submit it in the java l

[2021-10-04 19:55] Amitdutta7 opened #320 "3Sum - LeetCode"
## Link of the question
https://leetcode.com/problems/3sum/
Hey, I would like to solve this Leetcode Problem No. 15 using C++. Kindly assign it to me. Thanks :)

## Coding platform
- [x] Leetcode

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add some comments in my code for better understanding.

[2021-10-04 19:55] jainss commented on #313
Hello, please assign this issue to me because i already do these type of questions

[2021-10-04 19:56] kanak22 commented on #319
@Devansh-gaur-1611 comment here nd do not create duplicate issues ;)

https://github.com/kanak22/CP-DSA-Questions/issues/243

[2021-10-04 19:56] #319 closed

[2021-10-04 19:57] adityaaggarwal12 opened #321 "Little Girl and Game-Codeforces"
## Link of the question
https://codeforces.com/problemset/problem/276/B

## Coding platform
- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [X] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-04 19:58] adityaaggarwal12 commented on #321
kindly assign this to me

[2021-10-04 19:58] kanak22 commented on #313
@jainss in which language?

[2021-10-04 19:58] kanak22 commented on #321
Your language?

[2021-10-04 19:59] adityaaggarwal12 commented on #321
c++

[2021-10-04 19:59] jainss commented on #313
@kanak22  C++ i already did this

[2021-10-04 20:00] jainss commented on #313
and java also

[2021-10-04 20:00] Devansh-gaur-1611 commented on #319
Hi @kanak22, I am so sorry as I don't know that this issue had already been opened by someone else.

[2021-10-04 20:00] adityaaggarwal12 commented on #321
cpp

[2021-10-04 20:01] kanak22 commented on #313
This issue is assigned for cpp to @samridhikapoor , so you will be doing it in java.

[2021-10-04 20:01] jainss commented on #313
@kanak22  ok done please assign this to me

[2021-10-04 20:02] Amitdutta7 opened #322 "Couples Holding Hands - LeetCode"
## Link of the question
https://leetcode.com/problems/couples-holding-hands/
Hey, I would like to solve this Leetcode Problem No. 765 using C++. Kindly assign it to me. Thanks :)

## Coding platform
- [x] Leetcode

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add some comments in my code for better understanding.

[2021-10-04 20:02] kanak22 commented on #319
Its okay @Devansh-gaur-1611 Just comment in that issue I will assign it to you. it is open for Java

[2021-10-04 20:03] satyam-mahajan commented on #255
Means of this line?

On Tue, 5 Oct, 2021, 1:32 am Kanak, ***@***.***> wrote:

[2021-10-04 20:04] kanak22 commented on #321
okay ;)

[2021-10-04 20:04] Devansh-gaur-1611 commented on #243
Hi @kanak22, I want to work on this issue in java language,please assign me it plz

[2021-10-04 20:05] kanak22 commented on #313
I did

[2021-10-04 20:06] kanak22 commented on #243
hey sorry but can you do this in cpp?

[2021-10-04 20:10] kanak22 commented on #62
Cpp is done.

[2021-10-04 20:10] kanak22 commented on #113
sure

[2021-10-04 20:10] Devansh-gaur-1611 commented on #243
Yes, I can try to do this in cpp also

[2021-10-04 20:11] kanak22 commented on #126
@Niyati3031 mention your language?

[2021-10-04 20:11] Amitdutta7 opened #324 "Reconstruct Itinerary - LeetCode"
## Link of the question
https://leetcode.com/problems/reconstruct-itinerary/
Hey, I would like to solve this Leetcode Problem No. 332 using C++. Kindly assign it to me. Thanks :)

## Coding platform
- [x] Leetcode

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I'll add some comments in my code for better understanding.

[2021-10-04 20:11] kanak22 commented on #46
Sure

[2021-10-04 20:12] kanak22 commented on #114
okay

[2021-10-04 20:14] kanak22 commented on #243
okay then :) do this for Cpp, I just checked java solution is already there
If you would require any help let me know.

[2021-10-04 20:25] jainss commented on #314
I did this question in c++ please assign this to me

[2021-10-04 20:26] kanak22 opened #325 "FIND AND RENAME FILES"
## DESCRIPTION

Explore the whole repository, Find the files that have its name in any of the following formats.
example:
 1. exampleSolution.cpp
 2. example_solution.cpp
 3. example-solution.cpp

And rename them by the name of the folder with spaces.

example:
Example Solution.cpp

NOTE:-

THIS ISSUE WILL NOT BE CONSIDERED UNDER HACKTOBERFEST'21. ANYONE WITH A WILLINGNESS TO CONTRIBUTE TO THIS PR

[2021-10-04 20:26] jainss commented on #314
I had already done these 2 question 😁

[2021-10-04 20:30] kanak22 commented on #314
okay

[2021-10-04 20:37] jainss commented on #314
Thanks give me a min

[2021-10-04 21:01] adityaaggarwal12 opened #331 "Jzzhu and Sequences-450-B-codeforces"
## Link of the question
https://codeforces.com/problemset/problem/450/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-04 21:02] adityaaggarwal12 commented on #331
please assign this to me. language c

[2021-10-04 21:04] adityaaggarwal12 opened #332 "478 B. Random Teams -codeforces"
## Link of the question
https://codeforces.com/problemset/problem/478/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-04 21:04] adityaaggarwal12 commented on #332
please assign this to me, language cpp

[2021-10-04 21:06] adityaaggarwal12 opened #333 "Sort the Array 451-B-codeforces"
## Link of the question
https://codeforces.com/problemset/problem/451/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-04 21:06] adityaaggarwal12 commented on #333
please assign this to me ,language c

[2021-10-04 21:08] adityaaggarwal12 opened #334 "T-primes -230-B-codeforces"
## Link of the question
https://codeforces.com/problemset/problem/230/B

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-04 21:09] adityaaggarwal12 commented on #334
please assign this to me ,language cpp :)

[2021-10-05 01:13] Niyati3031 commented on #126
Java

[2021-10-05 02:26] shaurya24sri commented on #92
@kanak I have opened this issue and You have already assigned me this .Please do not assign to anyone else

[2021-10-05 04:16] Abhishekgaikwadcoder commented on #234
@kanak22 Please assign this issue to me under hacktoberfest '21. I would be contributing the code in Java Language.
Thanks

[2021-10-05 04:30] BharaniSri10 commented on #92
@kanak22  i will do it in c++

[2021-10-05 04:51] saptarsi96 commented on #324
I would like to work on this issue.

[2021-10-05 05:01] Pratixingh commented on #320
https://leetcode.com/problems/clumsy-factorial/
I would like to solve  Leetcode Problem No. 1006 using C++. Please assign it to me.

[2021-10-05 05:05] samridhikapoor commented on #222
@kanak22 Can I do it in java then?

[2021-10-05 05:11] Anvesh0110 commented on #286
@kanak22 please assign this to me

[2021-10-05 05:13] Anvesh0110 commented on #298
@kanak22 Could you please assign this question to me? I will solve it using C++.

[2021-10-05 06:40] varunsharma21 commented on #108
Made a PR giving 3 solutions to the problem in CPP.

[2021-10-05 07:00] Dark-Hope-tech commented on #276
C++

[2021-10-05 12:51] mohitchandak opened #349 "Prepbytes Question"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-05 12:53] mohitchandak commented on #349
having presbyters solution

[2021-10-05 16:05] Devansh-gaur-1611 commented on #320
Hello @kanak22 di, I want to do it in Java. Please assign it to me for java language

[2021-10-05 16:39] kanak22 commented on #286
@Anvesh0110 in which language?

[2021-10-05 16:41] kanak22 commented on #334
I assigned you three issues complete them first.

[2021-10-05 16:42] kanak22 commented on #349
which language?

[2021-10-05 16:43] kanak22 commented on #324
@saptarsi96 which language?

[2021-10-05 16:43] saptarsi96 commented on #324
Cpp

[2021-10-05 16:43] kanak22 commented on #320
@brilam @Devansh-gaur-1611 Go Ahead :) and @Pratixingh C++ is done

[2021-10-05 16:44] kanak22 commented on #298
Sure

[2021-10-05 16:44] kanak22 commented on #324
Cpp is done

[2021-10-05 17:34] Divya333 commented on #298
please assign this to me

[2021-10-05 17:35] Akhilesh0947 commented on #349
please assign me any problem in c++

[2021-10-05 17:37] Akhilesh0947 commented on #349
please assign me [https://codeforces.com/contest/1562/problem/D1](url) this

[2021-10-05 17:39] Akhilesh0947 commented on #333
please assign me
I will do it in c++

[2021-10-05 17:39] Akhilesh0947 commented on #332
please assign me
I will do it in c++

[2021-10-05 17:43] Devansh-gaur-1611 commented on #320
Hello @kanak22 di, what should be the file name for this problem

[2021-10-05 17:49] kanak22 commented on #298
in which language?

[2021-10-05 17:51] Divya333 commented on #298
python

[2021-10-05 18:06] kanak22 commented on #298
Python is already done. if you would like to do in any other language?

[2021-10-05 18:11] Divya333 commented on #298
java is it ok?

[2021-10-05 18:13] kanak22 commented on #298
Yes it is

[2021-10-06 04:43] Yash0605 opened #354 "Missing solution for Find Digits problem in JS"
## Link of the question
https://www.hackerrank.com/challenges/find-digits/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Javascript

## Additional context (OPTIONAL)
Add any other context or screenshots about t

[2021-10-06 06:27] Sohamkayal4103 opened #356 "Stacks-Codechef"
## Link of the question
https://www.codechef.com/problems/STACKS
@kanak22  I would like to solve this Codechef problem. Kindly assign this issue to me.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (O

[2021-10-06 09:02] NandiniAgrawal15 commented on #283
I would like ot work on it in c++ Kindly assign it to me in c++

[2021-10-06 09:07] NandiniAgrawal15 opened #363 "Codechef Problems"
I would like to add solution to all the 4 problems below.
(https://www.codechef.com/START14C/problems/RCBPLAY)
(https://www.codechef.com/START14C/problems/DIAGMOVE)
https://www.codechef.com/START14C/problems/FIXFIX
https://www.codechef.com/START14C/problems/BININVER

kindly assign me them under Hacktoberfest

[2021-10-06 12:02] Anvesh0110 commented on #286
Python

[2021-10-06 15:59] #17 closed

[2021-10-06 17:49] kanak22 commented on #354
Hello @Yash0605 you weren't assigned this issue but made a PR already which goes against the guidelines of the project so I wont be merging this PR and i will be closing this issue as well. If you wish to contribute then do give a read to contributing.md and then follow them

[2021-10-06 17:50] kanak22 commented on #333
Okay

[2021-10-06 17:51] kanak22 commented on #332
cpp is already taken.

[2021-10-06 17:58] Akhilesh0947 commented on #333
please approve #365

[2021-10-06 17:58] Yash0605 opened #366 "Missing solution for Find Digits problem in JS - Hackerrank"
## Link of the question
https://www.hackerrank.com/challenges/find-digits/problem.
Can you please assign this issue to me?

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Javascript

## Additional context (OPTIONAL)
Add

[2021-10-06 18:03] Yash0605 commented on #354
@kanak22 sure, no worries

[2021-10-06 18:14] Yash0605 opened #368 "Missing solution for Find the Median problem in JS - Hackerrank"
## Link of the question
https://www.hackerrank.com/challenges/find-the-median/problem
Can you please assign this issue to me?

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
- [ ] Javascript

## Additional context (OPTIONAL)

[2021-10-06 19:15] poo17nam commented on #264
Do you want a solution in Javascript?

[2021-10-08 04:55] harshnadar opened #374 "Bakry and Partitioning - Codeforces"
## Link of the question
https://codeforces.com/contest/1592/problem/C
Please assign this issue to me @kanak22

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screensh

[2021-10-08 04:56] harshnadar opened #375 "Hemose and Shopping - Codeforces"
## Link of the question
https://codeforces.com/contest/1592/problem/B
Please assign this issue to me @kanak22

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screensh

[2021-10-08 04:57] harshnadar opened #376 "Gamer Hemose - Codeforces"
## Link of the question
https://codeforces.com/contest/1592/problem/A
Please assign this issue to me @kanak22

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screensh

[2021-10-08 08:47] Somanshu693 opened #377 "LeetCode #66 and #378"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://leetcode.com/problems/plus-one/
https://leetcode.com/problems/kth-smallest-element-in-a-sorted-matrix/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C

[2021-10-08 15:07] sarthakvijay opened #379 "House Robber"
## Link of the question
https://leetcode.com/problems/house-robber/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
Dynamic Programming problem

[2021-10-08 20:26] vipul-2003 opened #381 "Variable Sized Arrays - HackerRank"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

[Variable Sized Arrays -HackerRank](https://www.hackerrank.com/challenges/variable-sized-arrays/problem)

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
-

[2021-10-08 20:28] vipul-2003 opened #382 "Inherited Code - HackerRank"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

[Inherited Code - HackerRank](https://www.hackerrank.com/challenges/inherited-code/problem)

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [

[2021-10-09 18:02] vipul-2003 commented on #185
Added solution in c++ the pr is  #380

close this please :))
@kanak22

[2021-10-09 18:04] #220 closed

[2021-10-09 18:12] #255 closed

[2021-10-09 18:19] #299 closed

[2021-10-09 18:22] rishabh-arya commented on #377
Hey there.......
Allow me to work on this issue by assigning it to me.

[2021-10-09 18:26] kanak22 commented on #379
It is already present

[2021-10-09 18:26] #379 closed

[2021-10-09 18:28] vipul-2003 commented on #381
Added a pr please review it @kanak22

And mark it as hacktoberfest

Thanks :))

[2021-10-09 18:29] #368 closed

[2021-10-09 18:30] DavidMaged171 commented on #331
I can solve it using c++

[2021-10-09 18:35] kanak22 commented on #332
okay

[2021-10-09 18:36] kanak22 commented on #331
okay

[2021-10-09 18:37] mohitchandak commented on #349
Bhout jaldi dediya tune access 🙂🙃

On Sun, Oct 10, 2021, 12:06 AM Kanak ***@***.***> wrote:

[2021-10-09 18:38] kanak22 commented on #349
@mohitchandak excuse me? that is not a way to talk I guess

[2021-10-09 18:39] Yash0605 commented on #133
@kanak22 can you please assign this issue to me I would like to solve this in python?

[2021-10-09 18:40] kanak22 commented on #349
@Akhilesh0947

[2021-10-09 18:40] #349 closed

[2021-10-09 18:42] #320 closed

[2021-10-09 18:47] kanak22 commented on #377
@Somanshu693 Make sure to make separate folder for each question and then adding the codefiles

[2021-10-09 18:48] rishabh-arya commented on #377
@kanak22 I would like to contribute in c++

[2021-10-09 18:48] #363 closed

[2021-10-09 19:00] kanak22 commented on #264
yes :)

[2021-10-09 19:04] kanak22 commented on #184
for other people to contribute in other languages

[2021-10-09 19:13] kanak22 commented on #222
java is also done :(

[2021-10-09 19:17] kanak22 commented on #126
java is done

[2021-10-09 19:22] #133 closed

[2021-10-09 19:33] kanak22 commented on #40
Okay

[2021-10-09 20:21] 0xamitdutta opened #393 "Minimum Swaps To Make Sequences Increasing"
## Link of the question
https://leetcode.com/problems/minimum-swaps-to-make-sequences-increasing/
Hey, I would like to solve this Leetcode Problem No. 801 using C++. Kindly assign it to me. Thanks :)

## Coding platform
- [x] Leetcode

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-10-09 21:15] sarthakvijay opened #394 "Substring Concatenation"
## Link of the question
https://www.interviewbit.com/problems/substring-concatenation/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [x] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
NA

[2021-10-09 21:17] sarthakvijay commented on #394
@kanak22 Hi, I have raised a new one here for an interview bit.

[2021-10-10 03:45] vipul-2003 commented on #382
review this #396 and close the issue

@kanak22 :))

[2021-10-10 04:13] vipul-2003 opened #398 "operator overloading - HackerRank"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

##  [operator overloading](https://www.hackerrank.com/challenges/overload-operators/problem)

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
-

[2021-10-10 04:15] vipul-2003 opened #399 "VIRTUAL FUNCTIONS -HackerRank"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
[VIRTUAL FUNCTIONS](https://www.hackerrank.com/challenges/virtual-functions/problem)

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Pytho

[2021-10-11 07:34] Itashi19 opened #403 "450 DSA Sheet: Longest Common subsequence"
## Link of the question
https://practice.geeksforgeeks.org/problems/longest-common-subsequence-1587115620/1

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
@kanak22 I want to add solution for

[2021-10-11 12:35] poo17nam commented on #264
Hey @kanak22 I've raised a PR for JS solution. Let me know if I've missed anything :)
https://github.com/kanak22/CP-DSA-Questions/pull/397

[2021-10-11 19:55] SahilKesarwani opened #407 "Xor Equality"
## Link of the question
https://www.codechef.com/MAY21C/problems/XOREQUAL

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-11 19:56] SahilKesarwani commented on #407
I would like to solve this problem in C++.

[2021-10-12 17:57] #104 closed

[2021-10-12 18:24] #35 closed

[2021-10-14 17:39] Yash0605 commented on #37
@kanak22 can you please assign this issue to me, I would like to solve it in python?

[2021-10-14 23:20] jdrodriguezh commented on #322
Hey @kanak22 I want to contribute in Python! Can you assign this to me? 😃

[2021-10-16 06:43] samridhikapoor opened #410 "H Index - Leetcode"
## Link of the question
https://leetcode.com/problems/h-index/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-16 06:43] samridhikapoor commented on #410
I want to work on this issue in C++ language. Please assign this to me.
Thanks

[2021-10-16 08:52] Itashi19 commented on #403
@kanak22 Can I work on this issue

[2021-10-16 10:55] rasikaghadge opened #412 "Beautiful Triplets - Hackerrank"
## Link of the question
https://www.hackerrank.com/challenges/beautiful-triplets/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature

[2021-10-16 10:55] rasikaghadge commented on #412
I'll provide C++ solution. Please assign this issue to me.

[2021-10-16 11:31] sru123p opened #413 "Maximum Sum BST in Binary Tree"
## Link of the question
Provide the link of the question and ask for an assignment of the issue.
https://leetcode.com/problems/maximum-sum-bst-in-binary-tree/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [.] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [.] C++
- [ ] Java
- [ ] Python

## Additional cont

[2021-10-16 11:32] sru123p opened #414 "Shortest Path Visiting All Nodes"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://leetcode.com/problems/shortest-path-visiting-all-nodes/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [.] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [.] C++
- [ ] Java
- [ ] Python

## Additional conte

[2021-10-17 18:47] kanak22 commented on #158
@iamkrati22 @tausifaman222 Mention your languages

[2021-10-17 18:47] kanak22 commented on #262
@i-am-chirantan In which language?

[2021-10-17 18:52] kanak22 commented on #31
@KushalMehta39 Do the required changes

[2021-10-17 18:54] KushalMehta39 commented on #31
Which changes ?

[2021-10-17 18:57] kanak22 commented on #31
Check your PR, there I have suggested some changes.

[2021-10-17 19:02] kanak22 commented on #163
@Himanshu664 Dont close the issues.

[2021-10-17 19:04] amn2 opened #418 "DP Matrix chain multiplication and unb knapsack"

[2021-10-17 19:06] #418 closed, assigned to nobody

[2021-10-17 19:09] Ishaarora1234 commented on #322
Hey! @kanak22
I want to contribute to this issue in C++
can you assign this to me?

[2021-10-17 19:17] Ishaarora1234 opened #420 "Simplify Path-LeetCode"
## Link of the question
https://leetcode.com/problems/simplify-path/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-17 19:18] kanak22 commented on #420
In which language?

[2021-10-17 19:18] Ishaarora1234 commented on #420
Hey! @kanak22
Can you please assign me this in c++

[2021-10-17 19:33] Adityaarora08 opened #422 "Remove Duplicates from Sorted Array-LeetCode"
## Link of the question
https://leetcode.com/problems/remove-duplicates-from-sorted-array/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the featu

[2021-10-17 19:33] Adityaarora08 commented on #422
Please assign me this issue in C++

[2021-10-17 19:52] Adityaarora08 opened #424 "Largest Multiple of Three- Leetcode"
## Link of the question
https://leetcode.com/problems/largest-multiple-of-three/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request

[2021-10-17 19:52] Ishaarora1234 opened #425 "ZigZag Conversion - LeetCode"
## Link of the question
https://leetcode.com/problems/zigzag-conversion/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-17 19:55] kanak22 commented on #422
Go forward

[2021-10-18 03:43] i-am-chirantan commented on #262
@kanak22 i will code in c++ language

[2021-10-18 08:23] samridhikapoor opened #434 "Move Zeroes - Leetcode"
## Link of the question
https://leetcode.com/problems/move-zeroes/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-18 15:09] silicolicious opened #438 "Remove Outermost Parentheses - LeetCode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
Question - https://leetcode.com/problems/remove-outermost-parentheses/

## Coding platform
- [x] Leetcode

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

@kanak22 Please assign it to me

[2021-10-19 05:06] tancot85 commented on #438
Can i get this to solve?

[2021-10-19 07:24] priyal-babel opened #440 "450 DSA sheet: Kadane's algo"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
### [Kadane's algo](https://practice.geeksforgeeks.org/problems/kadanes-algorithm-1587115620/1)
Please assign it to me
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [X] 450 DSA Sheet
## Programming language

- [ ] C

[2021-10-19 16:58] HarshitJain28 opened #445 "36. Valid Sudoku"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://leetcode.com/problems/valid-sudoku/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [✔ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add a

[2021-10-19 21:15] Adityaarora08 opened #446 "Reverse Integer- Leetcode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-19 21:19] Adityaarora08 opened #447 "Find Minimum in Rotated Sorted Array- Leetcode"
## Link of the question
https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feat

[2021-10-19 21:19] Adityaarora08 commented on #447
Ma'am please assign me this issue in cpp.

[2021-10-19 21:20] Adityaarora08 opened #448 "Array Nesting- Leetcode"
## Link of the question
https://leetcode.com/problems/array-nesting/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-19 21:21] Adityaarora08 commented on #448
Ma'am please assign me this in c++

[2021-10-19 21:21] Adityaarora08 opened #449 "Longest Common Subsequence - Leetcode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-19 21:30] Adityaarora08 commented on #424
Ma'am please assign me this issue in C++.

[2021-10-20 15:02] zehra47 opened #450 "Add Sorting Algorithms"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-21 04:06] neenad99 opened #455 "Leetcode 979 Distribute Coins in Binary Tree"
## Link of the question
https://leetcode.com/problems/distribute-coins-in-binary-tree/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-10-21 04:18] samridhikapoor opened #456 "Move Zeroes - Leetcode"
## Link of the question
https://leetcode.com/problems/move-zeroes/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-21 04:19] samridhikapoor commented on #456
@kanak22 Please assign this issue to me. I want to contribute in C++.
Thanks

[2021-10-21 14:46] nagasaisriya opened #458 "Find a String"
## Link of the question
Link of the question: https://www.hackerrank.com/challenges/find-a-string/problem

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

## Additional context (OPTIONAL)
Add any other context or screenshots

[2021-10-22 07:39] epicdeepak opened #461 "Soft Drinking- Codeforce problem"
## Link of the question
https://codeforces.com/problemset/problem/151/A

## Coding platform
- [ ] Codeforces

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-22 07:41] epicdeepak opened #462 "Buy a Shovel- Codeforces"
## Link of the question
https://codeforces.com/problemset/problem/732/A

## Coding platform

- [ ] Codeforces

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-22 07:43] epicdeepak opened #463 "I_love_%username% - Codeforces"
## Link of the question
https://codeforces.com/problemset/problem/155/A

## Coding platform

- [ ] Codeforces

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-22 07:45] epicdeepak opened #464 "Vasya the Hipster - Codeforces"
## Link of the question
https://codeforces.com/problemset/problem/581/A

## Coding platform

- [- ] Codeforces

## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-22 07:51] #455 closed, assigned to nobody

[2021-10-22 07:53] #450 closed, assigned to nobody

[2021-10-22 07:54] #458 closed, assigned to nobody

[2021-10-22 08:38] shrivardha opened #469 "Rating1400MaximumMedian.cpp"
## Link of the question
https://codeforces.com/contest/1201/problem/C
please assign me this task.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [x] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about th

[2021-10-22 09:02] Itashi19 opened #476 "Leaders in an array-GFG"
## Link of the question
https://practice.geeksforgeeks.org/problems/leaders-in-an-array-1587115620/1/?track=DSASP-Arrays&batchId=154
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
- [x] GFG
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
N

[2021-10-22 09:10] PriyankaHotchandani opened #477 "First Missing Positive (LeetCode)"
## Link of the question
https://leetcode.com/problems/first-missing-positive/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
NA

[2021-10-22 17:21] #477 closed, assigned to nobody

[2021-10-22 19:17] PriyankaHotchandani opened #484 "Smallest Missing Genetic Value in Each Subtree"
## Link of the question
https://leetcode.com/problems/smallest-missing-genetic-value-in-each-subtree/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

## Additional context (OPTIONAL)
NA

[2021-10-22 19:58] Ankita297 opened #485 "Flattening a Linked List"
## Link of the question
[Check here](https://practice.geeksforgeeks.org/problems/flattening-a-linked-list/1
)
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screensho

[2021-10-22 20:08] Ankita297 opened #486 "Long Pressed Name"
## Link of the question
https://leetcode.com/problems/long-pressed-name/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-22 20:15] Ankita297 opened #487 "Product of Array Except Self"
## Link of the question
https://leetcode.com/problems/product-of-array-except-self/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature requ

[2021-10-22 21:37] Ishaarora1234 opened #491 "Contains Duplicate-LeetCode"
## Link of the question
https://leetcode.com/problems/contains-duplicate/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-22 21:43] Ishaarora1234 opened #493 "Single Number-LeetCode"
## Link of the question
https://leetcode.com/problems/single-number/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-23 10:09] krishnmohan19 opened #495 "Merge Interval"
## Link of the question
https://leetcode.com/problems/merge-intervals/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [*] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-23 10:18] krishnmohan19 opened #496 "Factorial of large number"
## Link of the question
https://www.geeksforgeeks.org/factorial-large-number/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [*] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request he

[2021-10-23 10:21] krishnmohan19 opened #497 "Longest common prefix"
## Link of the question
https://www.geeksforgeeks.org/longest-common-prefix-using-word-by-word-matching/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [*] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots ab

[2021-10-23 10:23] krishnmohan19 opened #498 "Edit distance"
## Link of the question
https://www.geeksforgeeks.org/edit-distance-dp-5/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [*] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-23 17:56] vipul-2003 opened #500 "Classes- Object | HackerRank | C++"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

[Classes-object](https://www.hackerrank.com/challenges/classes-objects/problem)

Assign it to me @kanak22

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++

[2021-10-23 17:58] vipul-2003 opened #501 "Hotel Prices | HackerRank | C++"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
[Hotel-Prices](https://www.hackerrank.com/challenges/hotel-prices/problem)

please assign it to me @kanak22

## Coding platform

- [x] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++

[2021-10-23 18:05] vipul-2003 opened #502 "Reshape the matrix | Leet Code | C++"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
[Reshape The Matrix](https://leetcode.com/problems/reshape-the-matrix/)

### please assign to me @kanak22

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
-

[2021-10-25 14:32] #445 closed, assigned to HarshitJain28

[2021-10-25 14:51] i-s0nic opened #507 "Printing patterns using BFS"
## Link of the question
https://www.hackerearth.com/practice/algorithms/graphs/breadth-first-search/practice-problems/algorithm/waves-b18625d7/
## Coding platform

- [ ] Hackerrank
- [x] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)

[2021-10-25 14:53] i-s0nic opened #508 "The Cheapest Palindrome"
## Link of the question
https://www.hackerearth.com/practice/algorithms/string-algorithm/basics-of-string-manipulation/practice-problems/algorithm/make-the-cheapest-palindrome-1/
## Coding platform

- [ ] Hackerrank
- [x] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-10-25 14:56] i-s0nic opened #509 "Roy and Coin Boxes (DP)"
## Link of the question
https://www.hackerearth.com/practice/algorithms/dynamic-programming/introduction-to-dynamic-programming-1/practice-problems/algorithm/roy-and-coin-boxes-1/
## Coding platform

- [ ] Hackerrank
- [x] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Pytho

[2021-10-25 15:59] Ankita297 opened #514 "Rotate Image"
## Link of the question
https://leetcode.com/problems/rotate-image/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-25 16:20] dhruvin5 opened #515 "Best Time to Buy and Sell Stock IV(dp)"
## Link of the question
https://leetcode.com/problems/best-time-to-buy-and-sell-stock-iv/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [.] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [.] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the featur

[2021-10-25 16:27] dhruvin5 opened #516 "Lowest Common ancestor in binary tree"
## Link of the question
https://practice.geeksforgeeks.org/problems/lowest-common-ancestor-in-a-binary-tree/1

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [.] 450 DSA Sheet
## Programming language

- [ ] C
- [.] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screensh

[2021-10-25 16:32] dhruvin5 opened #518 "Cheapest flight within k stops(graphs)"
## Link of the question
https://leetcode.com/problems/cheapest-flights-within-k-stops/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [.] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [.] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature r

[2021-10-26 06:20] pranil-19 opened #525 "Longest Increasing Subsequence(DP)"
Link of the question
https://www.geeksforgeeks.org/longest-increasing-subsequence-dp-3/

Coding platform
[ ] Hackerrank
[ ] HackerEarth
[ ] Codechef
[ ] Codeforces
[ ] Leetcode
[ ] InterviewBit
[ ] AtCoder
[*] 450 DSA Sheet

Programming language
[ ] C
[*] C++
[ ] Java
[ ] Python

Additional context (OPTIONAL)

[2021-10-26 06:26] pranil-19 opened #526 "Longest Palindromic Subsequence(DP)"
Link of the question
https://www.geeksforgeeks.org/longest-palindromic-subsequence-dp-12/

Coding platform
[ ] Hackerrank
[ ] HackerEarth
[ ] Codechef
[ ] Codeforces
[ ] Leetcode
[ ] InterviewBit
[ ] AtCoder
[*] 450 DSA Sheet

Programming language
[ ] C
[*] C++
[ ] Java
[ ] Python

Additional context (OPTIONAL)

[2021-10-26 06:30] pranil-19 opened #527 "Longest Repeating Subsequence(DP)"
Link of the question
https://www.geeksforgeeks.org/longest-repeating-subsequence/

Coding platform

[ ] Hackerrank
[ ] HackerEarth
[ ] Codechef
[ ] Codeforces
[ ] Leetcode
[ ] InterviewBit
[ ] AtCoder
[*] 450 DSA Sheet

Programming language
[ ] C
[*] C++
[ ] Java
[ ] Python

 Additional context (OPTIONAL)

[2021-10-26 06:34] pranil-19 opened #528 "Shortest Common Supersequence(DP)"
Link of the question
https://www.geeksforgeeks.org/shortest-common-supersequence/

Coding platform
[ ] Hackerrank
[ ] HackerEarth
[ ] Codechef
[ ] Codeforces
[ ] Leetcode
[ ] InterviewBit
[ ] AtCoder
[*] 450 DSA Sheet

Programming language
[ ] C
[*] C++
[ ] Java
[ ] Python

Additional context (OPTIONAL)

[2021-10-26 06:38] pranil-19 opened #529 "Longest Common Substring(DP)"
Link of the question
https://www.geeksforgeeks.org/longest-common-substring-dp-29/

Coding platform
[ ] Hackerrank
[ ] HackerEarth
[ ] Codechef
[ ] Codeforces
[ ] Leetcode
[ ] InterviewBit
[ ] AtCoder
[*] 450 DSA Sheet

Programming language
[ ] C
[*] C++
[ ] Java
[ ] Python

Additional context (OPTIONAL)

[2021-10-26 06:46] pranil-19 opened #530 "Coin Change(DP)"
Link of the question
https://www.geeksforgeeks.org/coin-change-dp-7/

Coding platform
[ ] Hackerrank
[ ] HackerEarth
[ ] Codechef
[ ] Codeforces
[ ] Leetcode
[ ] InterviewBit
[ ] AtCoder
[x] 450 DSA Sheet

Programming language
[ ] C
[x] C++
[ ] Java
[ ] Python

Additional context (OPTIONAL)

[2021-10-26 08:45] dhruvin5 opened #531 "329. Longest Increasing Path in a Matrix (Leetcode) (hard)"
## Link of the question
https://leetcode.com/problems/longest-increasing-path-in-a-matrix/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the featu

[2021-10-27 11:30] dhruvin5 opened #547 "123. Best Time to Buy and Sell Stock III"
## Link of the question
https://leetcode.com/problems/best-time-to-buy-and-sell-stock-iii/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the featu

[2021-10-27 17:16] Ishaarora1234 opened #549 "Merge Sorted Array-LeetCode"
## Link of the question
https://leetcode.com/problems/merge-sorted-array/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-27 18:19] livisha opened #551 "N-Queens"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-10-28 13:20] deepak252 opened #555 "Worthy Matrix - CODECHEF"
## Link of the question
[https://www.codechef.com/problems/KAVGMAT](https://www.codechef.com/problems/KAVGMAT)

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [x] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
I want to solve this problem in

[2021-10-28 14:37] dhruvin5 opened #556 "House robber II"
## Link of the question
https://leetcode.com/problems/house-robber-ii/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-29 15:00] dhruvin5 opened #564 "Word Ladder"
## Link of the question
https://leetcode.com/problems/word-ladder/

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the feature request here.

[2021-10-29 18:09] Ishaarora1234 commented on #298
Hey @kanak22 ! is the c++ code done for this?
if not...then please assign me this in c++!

[2021-10-29 18:09] Ishaarora1234 commented on #298
Hey @kanak22 ! is the c++ code done for this?
if not...then please assign me this in c++!

[2021-10-30 10:58] tausifaman222 commented on #516
@kanak22 Mam, kindly review my PR for the java solution.

[2021-10-30 17:44] khushisinha20 opened #567 "Kadane's Algorithm (450 DSA Sheet) in C++."
## Link of the question
https://practice.geeksforgeeks.org/problems/kadanes-algorithm-1587115620/1.  Please assign Kadane's Algorithm in C++ to me.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [x] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIO

[2021-10-31 10:54] tausifaman222 commented on #547
@kanak22 Mam please review and merge by today for hacktoberfest. Thank You

[2021-10-31 14:37] kanak22 commented on #516
@tausifaman222  merged ;)

[2021-10-31 14:39] #551 closed

[2021-10-31 14:43] kanak22 commented on #298
@Anvesh0110 Are you working in cpp?? if not then inform here, I will assign it to @Ishaarora1234

[2021-10-31 15:19] #555 closed

[2021-11-01 11:47] tausifaman222 commented on #516
@kanak22 thanks, Mam

[2021-11-04 09:10] #564 closed

[2021-11-09 18:50] vipul-2003 opened #573 "167 Two Sum - II | Leetcode | C++"
## Link of the question #101 [ Two Sum II - Input Array Is Sorted](https://leetcode.com/problems/two-sum-ii-input-array-is-sorted/)

___Please assign it to me @kanak22___

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Ad

[2021-11-09 18:50] vipul-2003 commented on #573
Please assign it to me @kanak22

[2021-11-13 09:30] #9 closed

[2021-11-13 09:30] #438 closed

[2021-11-14 18:43] anubhav217 opened #574 "Merge Sorted Array-LeetCode"
## Link of the question
Provide the link of the question and ask for assignment of the issue.

## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [ ] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add any other context or screenshots about the fe

[2021-12-09 17:28] #573 closed

[2022-01-02 18:50] #407 closed

[2022-01-02 18:51] #271 closed

[2022-03-08 07:43] Chirag-007 opened #575 "Binary Search - Leet Code"
## Link of the question
Provide the link of the question and ask for assignment of the issue.
https://leetcode.com/problems/binary-search/
## Coding platform

- [ ] Hackerrank
- [ ] HackerEarth
- [ ] Codechef
- [ ] Codeforces
- [x] Leetcode
- [ ] InterviewBit
- [ ] AtCoder
- [ ] 450 DSA Sheet
## Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

## Additional context (OPTIONAL)
Add a

[2022-03-08 07:45] Chirag-007 commented on #575
Hey @kanak22 ! Please assign this issue to me in Python (Fork-N-Commit)

[2022-03-08 09:15] Sxmxrth commented on #575
Hey @kanak22 !! Please assign this issue to me in Java( Fork-N-Commit)

[2022-03-09 05:56] kanak22 commented on #575
Okay @Chirag-007 you do this in python and @Sxmxrth you can do this in java

[2022-03-09 14:41] kanak22 commented on #575
@Chirag-007 You should never merge your own PR and u should never self assign it as it can create problems for the project admin. Remember this always. 😊 for now i will seeing it nd if doesn't goes with the guidelines then i will be reverting it.

[2022-03-09 14:43] Chirag-007 commented on #575
Yeah ma'am, i'm trying to revert it but can't seem to, can you revert it back from you end if possible?

[2022-03-09 14:44] kanak22 commented on #575
Yes i reverted it from the main project 😊

[2022-03-09 14:48] Chirag-007 commented on #575
Ok ma'am, thank you and sorry for doing that.

[2022-03-09 14:51] kanak22 commented on #575
Its okay

[2022-03-10 15:08] Sxmxrth commented on #574
Hello Kanak, can you please assign this issue to me in Java?

[2022-03-11 11:17] Navaneethp007 commented on #574
Hello Kanak,can you please assign this issue to me in C

[2022-03-11 14:33] #549 closed

[2022-03-11 16:24] Sxmxrth commented on #502
Hey kanak22, can you please assign this problem to me in Java?

[2022-03-11 17:37] kanak22 commented on #502
sure

[2022-03-13 10:05] Navaneethp007 commented on #575
Hey @kanak22, please assign me this issue in C++ (Fork N Commit FnC15)

[2022-03-13 10:10] Navaneethp007 commented on #529
Hey @kanak22 , please assign this to me in Java (Fork N Commit FnC15)

[2022-03-17 05:59] #574 closed

[2022-10-01 17:29] AyushAgrawal25 commented on #556
Can I try this time, please assign this to me @kanak22 .

[2022-10-01 17:29] AyushAgrawal25 commented on #547
Can you please assign this to me?
@kanak22

[2022-10-01 17:30] AyushAgrawal25 commented on #531
@kanak22 ,
Can you please assign this to me?

[2022-10-01 17:31] AyushAgrawal25 commented on #525
@kanak22,

Can you please assign this to me?

[2022-10-01 17:38] AyushAgrawal25 commented on #508
@kanak22

Can you please assign this to me?

[2022-10-01 17:39] AyushAgrawal25 commented on #498
@kanak22
Can you please assign this to me?

[2022-10-01 17:39] AyushAgrawal25 commented on #497
@kanak22
Can you please assign this to me?

[2022-10-02 15:55] Faizan96322 commented on #96
hello, I would like to contribute to this issue #96 can u please assign it to me!

[2022-10-02 15:56] Faizan96322 commented on #377
I would like to contribute to this issue, pls assign me this task

[2022-10-02 15:57] Faizan96322 commented on #185
hey, I would like to contribute to this issue, pls assign me #185 for hacktoberfest-22

[2022-10-02 15:58] Faizan96322 commented on #15
I would like to contribute to this issue #15 pls assign me this task

[2022-10-03 05:04] Somanshu693 commented on #377
I don't think this repo is participating in Hacktoberfest 2022 this time.

[2022-10-03 05:27] Faizan96322 commented on #377
ok, thankyou very much!

[2022-10-03 05:28] Faizan96322 commented on #377
if u have anyother issues, under hacktoberfest-22 pls connect them with me!..I would really appreciate that effort!

[2022-10-03 19:49] m2h4r commented on #425
Hello, I would like to contribute to this in Python. Can you assign me for the hacktoberfest?